.container {
  width: 100%;
  height: 100vh;
  position: relative;
  background: #121212;
}

.content {
  width: 100%;
  height: 100vh;
  position: relative;
  background: #121212;
}

@media (width: 1080px) {

}