.container {
  width: 100%;
  height: 100vh;
  position: relative;
  background: #121212;
  overflow: hidden;
}

.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 360px;
  padding: 0 120px;
}

.main_content {
  width: 100%;
  height: 3040px;
}

.scroll {
  height: 100%;
  overflow: hidden;
  transition: height 2s ease;
}

.status {
  padding: 18px;
  display: flex;
  border-radius: 500px;
  border: 4px solid #98873B;
  background: #FFF;
  gap: 20px;
  align-items: center;
}

.profile {
  margin-right: 4px;
  width: 104px;
  height: 104px;
}

.status div {
  color: #121212;
  text-align: right;
  font-family: Pretendard-ExtraBold, sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: -0.96px;
  text-decoration: underline solid;
  cursor: pointer;
}

.my_library {
  color: #121212;
  text-align: right;
  font-family: Pretendard-ExtraBold, sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: -0.96px;
  text-decoration: underline solid;
  cursor: pointer;
  margin-right: 22px;
}

.status span {
  font-family: Pretendard-Regular, sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.96px;
  display: inline-block;
  text-decoration: none !important;
  margin-left: 10px;
}

.logout {
  width: 80px;
  height: 80px;
  cursor: pointer;
}

.full_mode {
  cursor: pointer;
  display: flex;
  position: absolute;
  gap: 8px;
  top: 1662px;
  left: 50%;
  transform: translateX(-50%);
  flex-direction: column;
  align-items: center;
}

.full_mode div {
  color: #6B7684;
  text-align: center;
  font-family: Pretendard-Medium, sans-serif;
  font-size: 72px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
  letter-spacing: -1.8px;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.full_mode img {
  width: 96px;
  height: 96px;
  animation: bounce 1s infinite ease-in-out;
}

.back {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  border-radius: 0 100px 100px 0;
  background: rgba(255, 255, 255, 0.50);
  width: 180px;
  height: 200px;
  flex-shrink: 0;
  position: absolute;
  bottom: 480px;
  left: 0;
  gap: 28px;
}

.back img {
  width: 64px;
  height: 32px;
  margin-top: 43px;
  margin-left: 45px;
}

.back div {
  color: #7A7A7A;
  font-family: Pretendard-Bold, sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -1.2px;
  text-transform: uppercase;
  margin-left: 35px;
}

.navigation {
  padding: 60px 120px 60px 120px;
  justify-content: space-between;
  align-items: center;
  display: flex;
  position: absolute;
  bottom: 120px;
  left: 50%;
  transform: translateX(-50%);
  width: 1840px;
  height: 320px;
  background: #FFFEFB;
  stroke-width: 4px;
  border: 4px solid #98903B;
  border-radius: 80px;
  filter: drop-shadow(20px 40px 60px rgba(109, 81, 63, 0.30));
}

.navigation_item {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  cursor: pointer;
}

.navigation_item img {
  width: 120px;
  height: 120px;
}

.navigation_item div {
  color: #BDB2A7;
  text-align: center;
  font-family: Pretendard-Bold, sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.ai {
  width: 200px;
  height: 200px;
  cursor: pointer;
}

.one_handed_mode {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 400px;
  height: 80px;
  border-radius: 80px 80px 0 0;
  background: rgba(0, 0, 0, 0.30);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.one_handed_mode img {
  width: 50px;
  height: 50px;
}



@media (width: 1080px) {

}