.content {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: url("../../../ict/img/kiosk/myLibrary_bg.png") no-repeat center center;
  background-size: cover;
  transition: top 0.8s ease-in-out;
}

.dashboard {
  margin: 60px auto 0;
  width: 100%;
  height: 280px;
  max-width: 1800px;
  border-radius: 60px;
  border: 4px solid #121212;
  background: #FFF;
  justify-content: center;
  box-shadow: 20px 30px 60px 0 rgba(170, 170, 170, 0.50);
  display: flex;
  gap: 405px;
}

.dashboard_item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: 59px;
}

.dashboard_item div:first-child {
  color: #7A7A7A;
  text-align: center;
  font-family: "Pretendard-Medium", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
}

.dashboard_item div:nth-child(2) {
  width: 56px;
  height: 123px;
  color: #121212;
  text-align: center;
  font-family: "Century Gothic", sans-serif;
  font-size: 100px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

.dashboard_item:nth-child(1):after,
.dashboard_item:nth-child(2):after {
  content: '';
  position: absolute;
  top: 33px;
  right: -185px;
  width: 2px;
  height: 87px;
  background: #A2A2A2;
}

.dashboard_item:last-child:after {
  display: none;
}

.filter {
  display: flex;
  width: 100%;
  max-width: 1800px;
  justify-content: center;
  align-items: center;
  gap: 33px;
  margin: 80px auto 60px;
}

.filter div {
  cursor: pointer;
  box-shadow: 20px 30px 60px rgba(170, 170, 170, 0.50);
  width: 100%;
  height: 200px;
  border-radius: 60px;
  border: 4px solid #121212;
  background: rgba(0, 0, 0, 0.30);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFF;
  font-family: "Pretendard-Medium", sans-serif;
  font-size: 52px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -1.3px;
  text-transform: uppercase;
  transition: all 0.3s ease;
}

.active_filter {
  background: #121212 !important;
  transition: all 0.3s ease;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  max-width: 1800px;
  margin: 0 auto;
  height: 2076px;
  overflow-y: scroll;
}

.list_item {
  padding: 36px 50px 36px 36px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 320px;
  min-height: 320px;
  width: 100%;
  border-radius: 40px;
  border: 4px solid #121212;
  background: #FFF;
}

.book_info {
  display: flex;
  align-items: center;
  gap: 60px;
}

.book_info img {
  width: 180px;
  height: 248px;
  object-fit: cover;
  border-radius: 20px;
  border: 2px solid #DFDFDF;
}

.book_title {
  width: 1160px;
  color: #121212;
  font-family: "Pretendard-Bold", sans-serif;
  font-size: 52px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -1.3px;
  text-transform: uppercase;
  margin-bottom: 27px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.wrapper {
  display: flex;
  gap: 120px;
}

.left, .right {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.left div, .right div {
  color: #121212;
  font-family: "Pretendard", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: 110%;
  letter-spacing: -1px;
  text-transform: uppercase;
}

.left div {
  width: 396px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.left div span, .right div span {
  color: #7A7A7A;
  font-family: "Pretendard-Regular", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%;
  margin-left: 24px;
  letter-spacing: -1px;
  text-transform: uppercase;
}

.status_1 {
  border-radius: 50%;
  width: 180px;
  height: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 43px 0 43px;
  background: #DDF4FF;
  color: #0074E5;
  text-align: center;
  font-family: "Pretendard-SemiBold", sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 40px;
  text-transform: uppercase;
}

.status_2 {
  color: #F3AB31;
  background: #FCF5E4;
  border-radius: 50%;
  width: 180px;
  height: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 44px 0 44px;
  text-align: center;
  font-family: "Pretendard-SemiBold", sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 40px;
  text-transform: uppercase;
}

.status_3 {
  color: #029951;
  background: #EEF7EE;
  border-radius: 50%;
  width: 180px;
  height: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 43px 0 43px;
  text-align: center;
  font-family: "Pretendard-SemiBold", sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 40px;
  text-transform: uppercase;
}

.status_4 {
  color: #EC4746;
  background: #FEF1F1;
  border-radius: 50%;
  width: 180px;
  height: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 43px 0 43px;
  text-align: center;
  font-family: "Pretendard-SemiBold", sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 40px;
  text-transform: uppercase;
}

.status_5 {
  color: #6B7684;
  background: #EFF1F3;
  border-radius: 50%;
  width: 180px;
  height: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 44px 0 44px;
  text-align: center;
  font-family: "Pretendard-SemiBold", sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 40px;
  text-transform: uppercase;
}

.status_6 {
  color: #6B7684;
  border: 1px solid #8B95A1;
  border-radius: 50%;
  width: 180px;
  height: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 44px 0 44px;
  text-align: center;
  font-family: "Pretendard-SemiBold", sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 40px;
  text-transform: uppercase;
}

.pagination {
  margin-top: 96px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.pagination div {
  cursor: pointer;
  color: #121212;
  font-family: "Pretendard-Medium", sans-serif;
  font-size: 42px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  margin: 0 40px;
}

.current_page {
  width: 96px;
  height: 96px;
  border-radius: 50%;
  background: #121212;
  color: #FFF !important;
  font-family: "Pretendard-Medium", sans-serif;
  font-size: 42px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 !important;
}

.pagination img {
  cursor: pointer;
  width: 48px;
  height: 48px;
}

.pagination .prev {
  margin: 0 40px 0 24px;
}

.pagination .next {
  margin: 0 24px 0 40px;
}

@media (width: 1080px) {
  .dashboard {
    margin: 30px auto 0;
    height: 140px;
    border: 2px solid #121212;
    max-width: 900px;
    border-radius: 30px;
    box-shadow: 10px 15px 30px 0 rgba(170, 170, 170, 0.50);
    gap: 203px;
  }

  .dashboard_item {
    gap: 5px;
    margin-top: 30px;
  }

  .dashboard_item div:first-child {
    font-size: 20px;
  }

  .dashboard_item div:nth-child(2) {
    width: 28px;
    height: 62px;
    font-size: 50px;
  }

  .dashboard_item:nth-child(1):after,
  .dashboard_item:nth-child(2):after {
    top: 17px;
    right: -93px;
    width: 1px;
    height: 44px;
  }

  .filter {
    max-width: 900px;
    gap: 17px;
    margin: 40px auto 30px;
  }

  .filter div {
    box-shadow: 10px 15px 30px rgba(170, 170, 170, 0.50);
    height: 100px;
    border-radius: 30px;
    border: 2px solid #121212;
    font-size: 26px;
    letter-spacing: -1px;
  }

  .list {
    gap: 10px;
    max-width: 900px;
    height: 1038px;
  }

  .list_item {
    padding: 18px 25px 18px 18px;
    height: 160px;
    min-height: 160px;
    border-radius: 20px;
    border: 2px solid #121212;
  }

  .book_info {
    gap: 30px;
  }

  .book_info img {
    width: 90px;
    height: 124px;
    border-radius: 10px;
    border: 1px solid #DFDFDF;
  }

  .book_title {
    width: 580px;
    font-size: 26px;
    letter-spacing: -1px;
    margin-bottom: 14px;
  }

  .wrapper {
    gap: 60px;
  }

  .left, .right {
    gap: 8px;
  }

  .left div, .right div {
    font-size: 20px;
    letter-spacing: -1px;
  }

  .left div {
    width: 198px;
  }

  .left div span, .right div span {
    font-size: 20px;
    margin-left: 12px;
    letter-spacing: -1px;
  }

  .status_1 {
    width: 90px;
    height: 90px;
    padding: 0 21px 0 21px;
    font-size: 18px;
    line-height: 20px;
  }

  .status_2 {
    width: 90px;
    height: 90px;
    padding: 0 22px 0 22px;
    font-size: 18px;
    line-height: 20px;
  }

  .status_3 {
    width: 90px;
    height: 90px;
    padding: 0 21px 0 21px;
    font-size: 18px;
    line-height: 20px;
  }

  .status_4 {
    width: 90px;
    height: 90px;
    padding: 0 21px 0 21px;
    font-size: 18px;
    line-height: 20px;
  }

  .status_5 {
    width: 90px;
    height: 90px;
    padding: 0 22px 0 22px;
    font-size: 18px;
    font-weight: 600;
    line-height: 20px;
  }

  .status_6 {
    width: 90px;
    height: 90px;
    padding: 0 22px 0 22px;
    font-size: 18px;
    line-height: 20px;
  }

  .pagination {
    margin-top: 48px;
  }

  .pagination div {
    font-size: 21px;
    margin: 0 20px;
  }

  .current_page {
    width: 48px;
    height: 48px;
    font-size: 21px;
  }

  .pagination img {
    width: 24px;
    height: 24px;
  }

  .pagination .prev {
    margin: 0 20px 0 12px;
  }

  .pagination .next {
    margin: 0 12px 0 20px;
  }
}