.container {
  width: 100%;
  height: 100vh;
  position: relative;
  background: #121212;
  overflow: hidden;
}

.full_mode {
  cursor: pointer;
  display: flex;
  position: absolute;
  gap: 8px;
  top: 1662px;
  left: 50%;
  transform: translateX(-50%);
  flex-direction: column;
  align-items: center;
}

.full_mode div {
  color: #6B7684;
  text-align: center;
  font-family: Pretendard-Medium, sans-serif;
  font-size: 72px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
  letter-spacing: -1.8px;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.full_mode img {
  width: 96px;
  height: 96px;
  animation: bounce 1s infinite ease-in-out;
}

.main_content {
  width: 100%;
  height: 100%;
}

.scroll {
  height: 100%;
  overflow: hidden;
  transition: height 2s ease;
}

.header {
  display: flex;
  align-items: center;
  padding: 60px 100px 60px 100px;
  width: 100%;
  height: 220px;
  justify-content: space-between;
}

.title {
  color: #FFF;
  font-family: "GmarketSansMedium", sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  width: 33%;
}

.date_and_time {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  width: 33%;
}

.time {
  color: #FFF;
  text-align: center;
  font-family: 'Roboto-Regular', sans-serif;
  font-size: 80px;
  font-style: normal;
  font-weight: 400;
  line-height: 80px;
  letter-spacing: 2px;
}

.date {
  color: #FFF;
  text-align: center;
  font-family: 'Roboto-Regular', sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.6px;
}

.top_menu {
  width: 33%;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: flex-end;
}

.top_menu_item {
  width: 140px;
  height: 140px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.05);
  cursor: pointer;
}

.top_menu_item:hover {
  background: rgba(0, 0, 0, 0.60);
}

.top_menu_item img {
  width: 78px;
  height: 78px;
}

.navigation {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 300px;
  display: flex;
  background: #212741;
  box-shadow: 0 -2px 40px 0 rgba(0, 0, 0, 0.10);
  align-items: center;
  z-index: 999;
}

.navigation_item {
  cursor: pointer;
  width: 360px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.navigation_item img {
  width: 120px;
  height: 120px;
}

.navigation_item_active {
  color: #fff !important;
  text-align: center;
  font-family: "Pretendard-Medium", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.navigation_item div {
  color: #4E5968;
  text-align: center;
  font-family: "Pretendard-Medium", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.ai {
  cursor: pointer;
  width: 360px;
  height: 300px;
  object-fit: contain;
}

.one_handed_mode {
  cursor: pointer;
  position: absolute;
  top: -44px;
  left: 50%;
  transform: translateX(-50%);
  background: url("../../img/facility/nav.svg") no-repeat center center;
  background-size: cover;
  width: 193px;
  height: 89px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.one_handed_mode img {
  width: 72px;
  height: 72px;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1240px;
  background: #fff;
  border-radius: 60px;
  z-index: 1000;
  padding: 160px 120px 100px 120px;
}

.popup_content {
  color: #454545;
  font-family: "Pretendard-Regular", sans-serif;
  font-size: 52px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: -1.04px;
}

.action_wrapper {
  display: flex;
  width: 100%;
  gap: 24px;
  margin-top: 80px;
}

.first_btn {
  background: #FFF !important;
  color: #7A7A7A !important;
  border: 2px solid #D6D6D6 !important;
}

.popup_close {
  border-radius: 24px;
  background: #242424;
  width: 100%;
  height: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFF;
  text-align: center;
  font-family: "Pretendard-Regular", sans-serif;
  font-size: 52px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.overlay {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.60);
  z-index: 999;
}

@media (width: 1080px) {
  .full_mode {
    gap: 4px;
    top: 831px;
  }

  .full_mode div {
    font-size: 36px;
    letter-spacing: -0.9px;
  }

  @keyframes bounce {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-5px);
    }
  }

  .full_mode img {
    width: 48px;
    height: 48px;
  }

  .main_content {
    height: 1612px;
  }

  .header {
    padding: 30px 50px 30px 50px;
    height: 110px;
  }

  .title {
    font-size: 24px;
  }

  .date_and_time {
    gap: 2px;
  }

  .time {
    font-size: 40px;
    line-height: 40px;
    letter-spacing: 1px;
  }

  .date {
    font-size: 12px;
    letter-spacing: -0.3px;
  }

  .top_menu {
    gap: 10px;
  }

  .top_menu_item {
    width: 70px;
    height: 70px;
  }

  .top_menu_item img {
    width: 39px;
    height: 39px;
  }

  .navigation {
    height: 150px;
    box-shadow: 0 -1px 20px 0 rgba(0, 0, 0, 0.10);
  }

  .navigation_item {
    width: 180px;
    gap: 10px;
  }

  .navigation_item img {
    width: 60px;
    height: 60px;
  }

  .navigation_item_active {
    font-size: 16px;
  }

  .navigation_item div {
    font-size: 16px;
  }

  .ai {
    width: 180px;
    height: 150px;
  }

  .one_handed_mode {
    top: -22px;
    width: 97px;
    height: 45px;
  }

  .one_handed_mode img {
    width: 36px;
    height: 36px;
  }

  .popup {
    width: 620px;
    border-radius: 30px;
    padding: 80px 60px 50px 60px;
  }

  .popup_content {
    font-size: 26px;
    letter-spacing: -1px;
  }

  .action_wrapper {
    gap: 12px;
    margin-top: 40px;
  }

  .first_btn {
    border: 1px solid #D6D6D6 !important;
  }

  .popup_close {
    border-radius: 12px;
    height: 80px;
    font-size: 26px;
  }
}

/* 태블릿 (가로) - 화면 크기 768px 이상 1200px 이하 */
@media (min-width: 768px) and (max-width: 1079px) {
  .full_mode {
    display: none;
  }

  .scroll {
    overflow-y: scroll;
    padding-bottom: 60px;
  }

  .main_content {
    height: 1128px;
  }

  .header {
    padding: 21px 35px 21px 35px;
    height: 77px;
  }

  .title {
    font-size: 17px;
  }

  .date_and_time {
    gap: 1px;
  }

  .time {
    font-size: 28px;
    line-height: 28px;
    letter-spacing: 0.7px;
  }

  .date {
    font-size: 8px;
    letter-spacing: -0.21px;
  }

  .top_menu {
    gap: 7px;
  }

  .top_menu_item {
    width: 49px;
    height: 49px;
  }

  .top_menu_item img {
    width: 27px;
    height: 27px;
  }

  .navigation {
    justify-content: space-between;
    height: 105px;
    position: fixed;
    box-shadow: 0 -1px 14px 0 rgba(0, 0, 0, 0.10);
  }

  .navigation_item {
    width: 126px;
    gap: 7px;
  }

  .navigation_item img {
    width: 42px;
    height: 42px;
  }

  .navigation_item_active {
    font-size: 11px;
  }

  .navigation_item div {
    font-size: 11px;
  }

  .ai {
    width: 126px;
    height: 105px;
  }

  .one_handed_mode {
    display: none;
  }

  .popup {
    width: 434px;
    border-radius: 21px;
    padding: 56px 42px 35px 42px;
  }

  .popup_content {
    font-size: 18px;
    letter-spacing: -0.7px;
  }

  .action_wrapper {
    gap: 8px;
    margin-top: 28px;
  }

  .first_btn {
    border: 1px solid #D6D6D6 !important;
  }

  .popup_close {
    border-radius: 8px;
    height: 56px;
    font-size: 18px;
  }
}

/* 태블릿 (세로) - 화면 크기 600px 이상 767px 이하 */
@media (min-width: 600px) and (max-width: 767px) {
  .full_mode {
    display: none;
  }

  .scroll {
    overflow-y: scroll;
    padding-bottom: 42px;
  }

  .main_content {
    height: 790px;
  }

  .header {
    padding: 15px 25px 15px 25px;
    height: 54px;
  }

  .title {
    font-size: 12px;
  }

  .date_and_time {
    gap: 1px;
  }

  .time {
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0.49px;
  }

  .date {
    font-size: 6px;
    letter-spacing: -0.15px;
  }

  .top_menu {
    gap: 5px;
  }

  .top_menu_item {
    width: 34px;
    height: 34px;
  }

  .top_menu_item img {
    width: 19px;
    height: 19px;
  }

  .navigation {
    justify-content: space-between;
    position: fixed;
    height: 74px;
    box-shadow: 0 -1px 10px 0 rgba(0, 0, 0, 0.10);
  }

  .navigation_item {
    width: 88px;
    gap: 5px;
  }

  .navigation_item img {
    width: 29px;
    height: 29px;
  }

  .navigation_item_active {
    font-size: 8px;
  }

  .navigation_item div {
    font-size: 8px;
  }

  .ai {
    width: 88px;
    height: 74px;
  }

  .one_handed_mode {
    display: none;
  }

  .popup {
    width: 304px;
    border-radius: 15px;
    padding: 39px 29px 25px 29px;
  }

  .popup_content {
    font-size: 13px;
    letter-spacing: -0.49px;
  }

  .action_wrapper {
    gap: 6px;
    margin-top: 20px;
  }

  .first_btn {
    border: 1px solid #D6D6D6 !important;
  }

  .popup_close {
    border-radius: 6px;
    height: 39px;
    font-size: 13px;
  }
}

/* 모바일 (가로) - 화면 크기 480px 이상 599px 이하 */
@media (min-width: 480px) and (max-width: 599px) {
  .full_mode {
    display: none;
  }

  .scroll {
    overflow-y: scroll;
    padding-bottom: 30px;
  }

  .main_content {
    height: 553px;
  }

  .header {
    padding: 11px 18px 11px 18px;
    height: 38px;
  }

  .title {
    font-size: 8px;
  }

  .date_and_time {
    gap: 1px;
  }

  .time {
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 0.34px;
  }

  .date {
    font-size: 4px;
    letter-spacing: -0.11px;
  }

  .top_menu {
    gap: 4px;
  }

  .top_menu_item {
    width: 24px;
    height: 24px;
  }

  .top_menu_item img {
    width: 13px;
    height: 13px;
  }

  .navigation {
    justify-content: space-between;
    position: fixed;
    height: 52px;
    box-shadow: 0 -1px 7px 0 rgba(0, 0, 0, 0.10);
  }

  .navigation_item {
    width: 62px;
    gap: 4px;
  }

  .navigation_item img {
    width: 20px;
    height: 20px;
  }

  .navigation_item_active {
    font-size: 6px;
  }

  .navigation_item div {
    font-size: 6px;
  }

  .ai {
    width: 62px;
    height: 52px;
  }

  .one_handed_mode {
    display: none;
  }

  .popup {
    width: 213px;
    border-radius: 11px;
    padding: 27px 20px 18px 20px;
  }

  .popup_content {
    font-size: 9px;
    letter-spacing: -0.34px;
  }

  .action_wrapper {
    gap: 4px;
    margin-top: 14px;
  }

  .first_btn {
    border: 1px solid #D6D6D6 !important;
  }

  .popup_close {
    border-radius: 4px;
    height: 27px;
    font-size: 9px;
  }
}

/* 모바일 (세로) - 화면 크기 320px 이상 479px 이하 */
@media (max-width: 479px) {
  .full_mode {
    display: none;
  }

  .scroll {
    overflow-y: scroll;
    padding-bottom: 21px;
  }

  .main_content {
    height: 387px;
  }

  .header {
    padding: 8px 13px 8px 13px;
    height: 27px;
  }

  .title {
    font-size: 6px;
  }

  .date_and_time {
    gap: 1px;
  }

  .time {
    font-size: 10px;
    line-height: 10px;
    letter-spacing: 0.24px;
  }

  .date {
    font-size: 3px;
    letter-spacing: -0.08px;
  }

  .top_menu {
    gap: 3px;
  }

  .top_menu_item {
    width: 17px;
    height: 17px;
  }

  .top_menu_item img {
    width: 9px;
    height: 9px;
  }

  .navigation {
    justify-content: space-between;
    position: fixed;
    height: 36px;
    box-shadow: 0 -1px 5px 0 rgba(0, 0, 0, 0.10);
  }

  .navigation_item {
    width: 43px;
    gap: 3px;
  }

  .navigation_item img {
    width: 14px;
    height: 14px;
  }

  .navigation_item_active {
    font-size: 4px;
  }

  .navigation_item div {
    font-size: 4px;
  }

  .ai {
    width: 43px;
    height: 36px;
  }

  .one_handed_mode {
    display: none;
  }

  .popup {
    width: 149px;
    border-radius: 8px;
    padding: 19px 14px 13px 14px;
  }

  .popup_content {
    font-size: 6px;
    letter-spacing: -0.24px;
  }

  .action_wrapper {
    gap: 3px;
    margin-top: 10px;
  }

  .first_btn {
    border: 1px solid #D6D6D6 !important;
  }

  .popup_close {
    border-radius: 3px;
    height: 19px;
    font-size: 6px;
  }
}
