.content {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: url("../../img/facility/bg.png") no-repeat center center;
  background-size: cover;
  transition: top 1s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main_title {
  text-align: center;
  margin-top: 350px;
  margin-bottom: 20px;
  color: #FFF;
  font-family: "Pretendard-SemiBold", sans-serif;
  font-size: 140px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -3.5px;
}

.main_caption {
  color: #EFF1F3;
  text-align: center;
  font-family: "Pretendard-Medium", sans-serif;
  font-size: 80px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -2px;
  margin-bottom: 180px;
}

.main_caption span {
  font-family: "Pretendard-Bold", sans-serif;
  font-weight: 700;
}

.quick_menu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
}

.quick_menu_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.quick_menu_item img {
  width: 180px;
  height: 180px;
}

.quick_menu_item div {
  color: #FFF;
  text-align: center;
  font-family: "Pretendard-Medium", sans-serif;
  font-size: 52px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.caption {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-top: 240px;
  margin-bottom: -40px;
}

.caption img {
  width: 48px;
  height: 48px;
}

.caption div {
  color: #FFF;
  text-align: right;
  font-family: "Pretendard-SemiBold", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -1px;
}

.main_slide {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}

.main_slide .slick-prev,
.main_slide .slick-next {
  position: absolute;
  z-index: 100;
  background: none;
  border: none;
  cursor: pointer;
}

.main_slide .slick-next:before,
.main_slide .slick-prev:before {
  display: none;
}

.main_slide .slick-prev {
  width: 140px;
  height: 140px;
  left: -80px;
  top: 650px;
  transform: scaleX(-1);
}

.main_slide .slick-next {
  width: 140px;
  height: 140px;
  right: -70px;
  top: 715px;
}

.main_slide .slick-prev img,
.main_slide .slick-next img {
  width: 140px;
  height: 140px;
}


.main_slide_item {
  margin: 100px 100px 200px 100px;
  align-items: center;
  flex-direction: column;
  display: flex !important;
  height: 1200px;
  border-radius: 50%;
  background: #FFF;
  box-shadow: 0 60px 80px 0 rgba(0, 0, 0, 0.20);
}

.facility_name {
  width: 480px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin-top: 151px;
  margin-bottom: 107px;
  color: #191F28;
  text-align: center;
  font-family: "Pretendard-SemiBold", sans-serif;
  font-size: 60px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -1.5px;
}

.main_slide_item img {
  width: 540px;
  height: 540px;
  border-radius: 50%;
  object-fit: cover;
}

.main_slide_label {
  margin-top: 35px;
  margin-bottom: 20px;
  color: #4E5968;
  text-align: center;
  font-family: "Pretendard-Medium", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -1px;
}

.main_slide_value {
  color: #6B7684;
  text-align: center;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 120px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.main_slide_value span:first-child {
  color: #191F28;
  font-weight: 700;
  font-family: "Roboto-Bold", sans-serif;
}

.main_slide_value span:nth-child(2) {
  color: #6B7684;
  font-family: "Roboto-Light", sans-serif;
  font-weight: 100;
}

.ticker {
  position: absolute;
  bottom: 300px;
  left: 0;
  background: #000;
  height: 128px;
  display: flex;
  align-items: center;
  overflow: hidden;
  white-space: nowrap;
}

.ticker div {
  color: #FFF;
  font-family: "Pretendard-Medium", sans-serif;
  font-size: 44px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  animation: ticker 50s linear infinite;
}

@keyframes ticker {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@media (width: 1080px) {
  .main_title {
    margin-top: 175px;
    margin-bottom: 10px;
    font-size: 70px;
    letter-spacing: -1.75px;
  }

  .main_caption {
    font-size: 40px;
    letter-spacing: -1px;
    margin-bottom: 90px;
  }

  .quick_menu {
    gap: 30px;
  }

  .quick_menu_item {
    gap: 16px;
  }

  .quick_menu_item img {
    width: 90px;
    height: 90px;
  }

  .quick_menu_item div {
    font-size: 26px;
  }

  .caption {
    gap: 4px;
    margin-top: 120px;
    margin-bottom: -20px;
  }

  .caption img {
    width: 24px;
    height: 24px;
  }

  .caption div {
    font-size: 20px;
    letter-spacing: -0.5px;
  }

  .main_slide {
    max-width: 700px;
  }

  .main_slide .slick-prev {
    width: 70px;
    height: 70px;
    left: -40px;
    top: 325px;
  }

  .main_slide .slick-next {
    width: 70px;
    height: 70px;
    right: -35px;
    top: 358px;
  }

  .main_slide .slick-prev img,
  .main_slide .slick-next img {
    width: 70px;
    height: 70px;
  }


  .main_slide_item {
    margin: 50px 50px 100px 50px;
    height: 600px;
    box-shadow: 0 30px 40px 0 rgba(0, 0, 0, 0.20);
  }

  .facility_name {
    width: 240px;
    margin-top: 76px;
    margin-bottom: 54px;
    font-size: 30px;
    letter-spacing: -0.75px;
  }

  .main_slide_item img {
    width: 270px;
    height: 270px;
  }

  .main_slide_label {
    margin-top: 18px;
    margin-bottom: 10px;
    font-size: 20px;
    letter-spacing: -0.5px;
  }

  .main_slide_value {
    font-size: 60px;
  }

  .ticker {
    bottom: 150px;
    height: 64px;
  }

  .ticker div {
    font-size: 22px;
  }
}

/* 태블릿 (가로) - 화면 크기 768px 이상 1200px 이하 */
@media (min-width: 768px) and (max-width: 1079px) {
  .content {
    padding-bottom: 150px;
  }

  .main_title {
    margin-top: 123px;
    margin-bottom: 7px;
    font-size: 49px;
    letter-spacing: -1.23px;
  }

  .main_caption {
    font-size: 28px;
    letter-spacing: -0.7px;
    margin-bottom: 63px;
  }

  .quick_menu {
    gap: 21px;
  }

  .quick_menu_item {
    gap: 11px;
  }

  .quick_menu_item img {
    width: 63px;
    height: 63px;
  }

  .quick_menu_item div {
    font-size: 18px;
  }

  .caption {
    gap: 3px;
    margin-top: 84px;
    margin-bottom: -14px;
  }

  .caption img {
    width: 17px;
    height: 17px;
  }

  .caption div {
    font-size: 14px;
    letter-spacing: -0.35px;
  }

  .main_slide {
    max-width: 490px;
  }

  .main_slide .slick-prev {
    width: 49px;
    height: 49px;
    left: -28px;
    top: 228px;
  }

  .main_slide .slick-next {
    width: 49px;
    height: 49px;
    right: -25px;
    top: 251px;
  }

  .main_slide .slick-prev img,
  .main_slide .slick-next img {
    width: 49px;
    height: 49px;
  }

  .main_slide_item {
    margin: 35px 35px 70px 35px;
    height: 420px;
    box-shadow: 0 21px 28px 0 rgba(0, 0, 0, 0.20);
  }

  .facility_name {
    width: 168px;
    margin-top: 53px;
    margin-bottom: 38px;
    font-size: 21px;
    letter-spacing: -0.53px;
  }

  .main_slide_item img {
    width: 189px;
    height: 189px;
  }

  .main_slide_label {
    margin-top: 13px;
    margin-bottom: 7px;
    font-size: 14px;
    letter-spacing: -0.35px;
  }

  .main_slide_value {
    font-size: 42px;
  }

  .ticker {
    bottom: 105px;
    height: 45px;
  }

  .ticker div {
    font-size: 15px;
  }
}

/* 태블릿 (세로) - 화면 크기 600px 이상 767px 이하 */
@media (min-width: 600px) and (max-width: 767px) {
  .content {
    padding-bottom: 105px;
  }

  .main_title {
    margin-top: 86px;
    margin-bottom: 5px;
    font-size: 34px;
    letter-spacing: -0.86px;
  }

  .main_caption {
    font-size: 20px;
    letter-spacing: -0.49px;
    margin-bottom: 44px;
  }

  .quick_menu {
    gap: 15px;
  }

  .quick_menu_item {
    gap: 8px;
  }

  .quick_menu_item img {
    width: 44px;
    height: 44px;
  }

  .quick_menu_item div {
    font-size: 13px;
  }

  .caption {
    gap: 2px;
    margin-top: 59px;
    margin-bottom: -10px;
  }

  .caption img {
    width: 12px;
    height: 12px;
  }

  .caption div {
    font-size: 10px;
    letter-spacing: -0.25px;
  }

  .main_slide {
    max-width: 343px;
  }

  .main_slide .slick-prev {
    width: 34px;
    height: 34px;
    left: -20px;
    top: 160px;
  }

  .main_slide .slick-next {
    width: 34px;
    height: 34px;
    right: -18px;
    top: 176px;
  }

  .main_slide .slick-prev img,
  .main_slide .slick-next img {
    width: 34px;
    height: 34px;
  }

  .main_slide_item {
    margin: 25px 25px 49px 25px;
    height: 294px;
    box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.20);
  }

  .facility_name {
    width: 118px;
    margin-top: 37px;
    margin-bottom: 27px;
    font-size: 15px;
    letter-spacing: -0.37px;
  }

  .main_slide_item img {
    width: 132px;
    height: 132px;
  }

  .main_slide_label {
    margin-top: 9px;
    margin-bottom: 5px;
    font-size: 10px;
    letter-spacing: -0.25px;
  }

  .main_slide_value {
    font-size: 29px;
  }

  .ticker {
    bottom: 74px;
    height: 32px;
  }

  .ticker div {
    font-size: 11px;
  }
}

/* 모바일 (가로) - 화면 크기 480px 이상 599px 이하 */
@media (min-width: 480px) and (max-width: 599px) {
  .content {
    padding-bottom: 74px;
  }

  .main_title {
    margin-top: 60px;
    margin-bottom: 4px;
    font-size: 24px;
    letter-spacing: -0.6px;
  }

  .main_caption {
    font-size: 14px;
    letter-spacing: -0.34px;
    margin-bottom: 31px;
  }

  .quick_menu {
    gap: 11px;
  }

  .quick_menu_item {
    gap: 6px;
  }

  .quick_menu_item img {
    width: 31px;
    height: 31px;
  }

  .quick_menu_item div {
    font-size: 9px;
  }

  .caption {
    gap: 1px;
    margin-top: 41px;
    margin-bottom: -7px;
  }

  .caption img {
    width: 8px;
    height: 8px;
  }

  .caption div {
    font-size: 7px;
    letter-spacing: -0.18px;
  }

  .main_slide {
    max-width: 240px;
  }

  .main_slide .slick-prev {
    width: 24px;
    height: 24px;
    left: -14px;
    top: 112px;
  }

  .main_slide .slick-next {
    width: 24px;
    height: 24px;
    right: -13px;
    top: 123px;
  }

  .main_slide .slick-prev img,
  .main_slide .slick-next img {
    width: 24px;
    height: 24px;
  }

  .main_slide_item {
    margin: 18px 18px 34px 18px;
    height: 206px;
    box-shadow: 0 11px 14px 0 rgba(0, 0, 0, 0.20);
  }

  .facility_name {
    width: 83px;
    margin-top: 26px;
    margin-bottom: 19px;
    font-size: 11px;
    letter-spacing: -0.26px;
  }

  .main_slide_item img {
    width: 92px;
    height: 92px;
  }

  .main_slide_label {
    margin-top: 6px;
    margin-bottom: 4px;
    font-size: 7px;
    letter-spacing: -0.18px;
  }

  .main_slide_value {
    font-size: 20px;
  }

  .ticker {
    bottom: 52px;
    height: 22px;
  }

  .ticker div {
    font-size: 8px;
  }
}

/* 모바일 (세로) - 화면 크기 320px 이상 479px 이하 */
@media (max-width: 479px) {
  .content {
    padding-bottom: 52px;
  }

  .main_title {
    margin-top: 42px;
    margin-bottom: 3px;
    font-size: 17px;
    letter-spacing: -0.42px;
  }

  .main_caption {
    font-size: 10px;
    letter-spacing: -0.24px;
    margin-bottom: 22px;
  }

  .quick_menu {
    gap: 8px;
  }

  .quick_menu_item {
    gap: 4px;
  }

  .quick_menu_item img {
    width: 22px;
    height: 22px;
  }

  .quick_menu_item div {
    font-size: 6px;
  }

  .caption {
    gap: 1px;
    margin-top: 29px;
    margin-bottom: -5px;
  }

  .caption img {
    width: 6px;
    height: 6px;
  }

  .caption div {
    font-size: 5px;
    letter-spacing: -0.13px;
  }

  .main_slide {
    max-width: 168px;
  }

  .main_slide .slick-prev {
    width: 17px;
    height: 17px;
    left: -10px;
    top: 78px;
  }

  .main_slide .slick-next {
    width: 17px;
    height: 17px;
    right: -9px;
    top: 86px;
  }

  .main_slide .slick-prev img,
  .main_slide .slick-next img {
    width: 17px;
    height: 17px;
  }

  .main_slide_item {
    margin: 13px 13px 24px 13px;
    height: 144px;
    box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.20);
  }

  .facility_name {
    width: 58px;
    margin-top: 18px;
    margin-bottom: 13px;
    font-size: 8px;
    letter-spacing: -0.18px;
  }

  .main_slide_item img {
    width: 64px;
    height: 64px;
  }

  .main_slide_label {
    margin-top: 4px;
    margin-bottom: 3px;
    font-size: 5px;
    letter-spacing: -0.13px;
  }

  .main_slide_value {
    font-size: 14px;
  }

  .ticker {
    bottom: 36px;
    height: 15px;
  }

  .ticker div {
    font-size: 6px;
  }
}
