.content {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: url("../../img/facility/bg.png") no-repeat center center;
  background-size: cover;
  transition: top 1s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box {
  border-radius: 30px;
  background: #FFF;
  margin: 20px 100px 100px 100px;
  height: 3200px;
  padding: 60px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.search_box {
  width: 100%;
  border-radius: 20px;
  border: 1px solid #B8B8B8;
  background: #F7F8FA;
  padding: 60px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.search_box_label {
  color: #191F28;
  text-align: center;
  font-family: "Pretendard-Medium", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -1px;
  margin-right: 42px;
  width: 138px;
}

.inquiry_period {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.month_btn_wrapper {
  display: flex;
  align-items: center;
  gap: 16px;
  height: 100%;
}

.month_btn_wrapper div {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  border: 1px solid #7A7A7A;
  background: #FFF;
  width: 180px;
  height: 100px;
  color: #7A7A7A;
  text-align: center;
  font-family: "Pretendard-Regular", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -1px;
  transition: all 0.2s ease-in-out;
}

.month_btn_active {
  border: 2px solid #191F28 !important;
  color: #191F28 !important;
  font-family: "Pretendard-SemiBold", sans-serif !important;
  font-weight: 600 !important;
}

.reservation_status {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.date_wrapper {
  display: flex;
  align-items: center;
  gap: 29px;
  margin-left: 28px;
}

.date_wrapper input {
  padding: 0 24px 0 24px;
  border-radius: 20px;
  border: 1px solid #7A7A7A;
  width: 420px;
  height: 100px;
  color: #191F28;
  font-family: "Pretendard-Regular", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background: #FFF url('../../img/facility/calendar.svg') no-repeat right 24px center;
  background-size: 48px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.date_wrapper input:hover, .date_wrapper input:focus {outline: none}
.date_wrapper input[type="date"]::-webkit-calendar-picker-indicator,
.date_wrapper input[type="date"]::-webkit-inner-spin-button { opacity: 0; appearance: none; }

.date_wrapper span {
  color: #191F28;
  font-family: "Pretendard-Regular", sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.reservation_status_wrapper {
  display: flex;
  gap: 28px;
}

.reservation_status_wrapper div {
  cursor: pointer;
  border-radius: 20px;
  border: 1px solid #7A7A7A;
  background: #FFF;
  width: 315px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #7A7A7A;
  font-family: "Pretendard-Regular", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  transition: all 0.2s ease-in-out;
}

.reservation_status_btn_active {
  border: 2px solid #191F28 !important;
  color: #191F28 !important;
  font-family: "Pretendard-SemiBold", sans-serif !important;
  font-weight: 600 !important;
}

.reservation_status input {
  height: 100px;
  margin-left: 24px;
  border-radius: 20px;
  border: 1px solid #7A7A7A;
  background: #FFF;
  padding: 0 40px;
  width: 838px;
  color: #191F28;
  font-family: "Pretendard-Regular", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.reservation_status input::placeholder {
  color: #7A7A7A;
}

.reservation_status input:focus, .reservation_status input:hover {
  outline: none;
}

.inquiry {
  cursor: pointer;
  border-radius: 20px;
  background: #191F28;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFF;
  text-align: center;
  font-family: "Pretendard-Medium", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -1px;
}

.list_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0 20px 0;
}

.list_header div:first-child {
  color: #6B7684;
  font-family: "Pretendard-Regular", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.list_header div:first-child span {
  color: #191F28;
  font-family: "Pretendard-Medium", sans-serif;
  font-weight: 500;
}

.list_header div:nth-child(2) {
  cursor: pointer;
  border-radius: 16px;
  border: 1px solid #EC4746;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 84px;
  color: #EC4746;
  font-family: "Pretendard-Medium", sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 20px 0 20px 0;
}

.list_wrapper {
  overflow-y: scroll;
  height: 2280px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.no_data {
  color: #000;
  font-family: "Pretendard-SemiBold", sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: -1.2px;
  height: 100%;
  display: flex;
  align-items: center;
}

.list_item {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 45px 60px 45px 60px;
  border-radius: 20px;
  border: 1px solid #B8B8B8;
  background: #FFF;
  height: 420px;
  min-height: 420px;
}

.right_wrapper {
  display: flex;
  align-items: center;
  gap: 42px;
}

.content_area {
  display: flex;
  flex-direction: column;
}

.check_area img {
  width: 76px;
  height: 76px;
  cursor: pointer;
}

.content_area div:first-child {
  color: #4E5968;
  font-family: "Pretendard-Regular", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.8px;
  margin-bottom: 20px;
}

.content_area div:nth-child(2) {
  color: #6B7684;
  font-family: "Pretendard-Regular", sans-serif;
  font-size: 44px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: -1.1px;
  margin-bottom: 40px;
}

.content_area div:nth-child(3) {
  color: #000;
  font-family: "Pretendard-Regular", sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: -1.2px;
  margin-bottom: 40px;
}

.content_area div:nth-child(3) span,
.content_area div:nth-child(4) span {
  color: #000;
  font-family: "Pretendard-SemiBold", sans-serif;
  font-weight: 600;
}

.content_area div:nth-child(4) {
  color: #000;
  font-family: "Pretendard-Regular", sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: -1.2px;
}

.badge_area {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  justify-content: center;
}

.status_1,  .status_2, .status_3 {
  border-radius: 20px;
  border: 1px solid #229829;
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  width: 260px;
  height: 100px;
}

.status_1 img, .status_2 img, .status_3 img, .status_4 img,  .status_5 img {
  width: 40px;
  height: 40px;
}

.status_1 div, .status_2 div, .status_3 div {
  color: #229829;
  font-family: "Pretendard-SemiBold", sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}


.status_4 {
  border-radius: 20px;
  border: 1px solid #0D65F8;
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  width: 260px;
  height: 100px;
}

.status_4 div {
  color: #0D65F8;
  font-family: "Pretendard-SemiBold", sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.status_5 {
  border-radius: 20px;
  border: 1px solid #454545;
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  width: 260px;
  height: 100px;
}

.status_5 div {
  color: #454545;
  font-family: "Pretendard-SemiBold", sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.status_6 {
  border-radius: 20px;
  background: #229829;
  display: flex;
  width: 260px;
  height: 100px;
  padding: 20px 24px;
  justify-content: center;
  align-items: center;
  color: #FFF;
  font-family: "Pretendard-SemiBold", sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.status_7, .status_8, .status_9 {
  display: flex;
  width: 260px;
  height: 100px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 20px;
  background: #454545;
  color: #FFF;
  font-family: "Pretendard-SemiBold", sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.done {
  border: 1px solid #B8B8B8 !important;
  background: #E8E8E8 !important;
}

.pagination {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  gap: 16px;
  margin-top: 90px;
}

.pagination div {
  cursor: pointer;
  border-radius: 8px;
  border: 1px solid #E5E8EB;
  background: #FFF;
  display: flex;
  width: 76px;
  height: 76px;
  align-items: center;
  justify-content: center;
  color: #6B7684;
  text-align: center;
  font-family: "Pretendard-Regular", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.8px;
}

.pagination div img {
  width: 40px;
  height: 40px;
}

.current_page {
  color: #191F28 !important;
  font-weight: 700 !important;
  font-family: "Pretendard-Bold", sans-serif !important;
  border: 1px solid #191F28 !important;
}

.prev {
  height: 148px;
  width: 148px;
  position: absolute;
  top: 1606px;
  left: -100px;
  z-index: 1;
  cursor: pointer;
}

.next {
  height: 148px;
  width: 148px;
  position: absolute;
  top: 1606px;
  right: -100px;
  z-index: 1;
  cursor: pointer;
}

.join_popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1400px;
  height: 1106px;
  background: #fff;
  border-radius: 40px;
  z-index: 1000;
}

.join_popup_header {
  border-radius: 40px 40px 0 0;
  background: #8B95A1;
  height: 153px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFF;
  text-align: center;
  font-family: "Pretendard-Bold", sans-serif;
  font-size: 52px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
  letter-spacing: -1.3px;
}

.join_popup_content {
  padding: 100px 80px 20px 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 60px;
}

.popup_description {
  color: #333D4B;
  text-align: center;
  font-family: "Pretendard-Medium", sans-serif;
  font-size: 52px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: -1.3px;
}

.popup_scroll {
  overflow-x: hidden;
  overflow-y: scroll;
  height: 400px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.popup_scroll_header {
  display: flex;
  width: 100%;
  gap: 16px;
}

.popup_scroll_header div:first-child {
  width: 400px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  background: #EFF1F3;
  color: #191F28;
  text-align: center;
  font-family: "Pretendard-Regular", sans-serif;
  font-size: 52px;
  font-style: normal;
  font-weight: 400;
  line-height: 44px;
}

.popup_scroll_header div:nth-child(2) {
  width: 540px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  background: #EFF1F3;
  color: #191F28;
  text-align: center;
  font-family: "Pretendard-Regular", sans-serif;
  font-size: 52px;
  font-style: normal;
  font-weight: 400;
  line-height: 44px;
}

.popup_scroll_header div:nth-child(3) {
  width: 180px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  background: #0D65F8;
  color: #fff;
  text-align: center;
  font-family: "Pretendard-SemiBold", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 44px;
  cursor: pointer;
}

.popup_scroll_content {
  display: flex;
  gap: 16px;
}

.popup_scroll_content input:first-child {
  display: flex;
  width: 400px;
  height: 120px;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  border: 1px solid #ADB5BD;
  background: #FFF;
  color: #191F28;
  text-align: center;
  font-family: "Pretendard-Medium", sans-serif;
  font-size: 52px;
  font-style: normal;
  font-weight: 500;
  line-height: 44px;
  padding: 0 40px;
}

.popup_scroll_content input:nth-child(2) {
  display: flex;
  width: 540px;
  height: 120px;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  border: 1px solid #ADB5BD;
  background: #FFF;
  color: #191F28;
  text-align: center;
  font-family: "Pretendard-Medium", sans-serif;
  font-size: 52px;
  font-style: normal;
  font-weight: 500;
  line-height: 44px;
  padding: 0 40px;
}

.popup_scroll_content input:first-child:focus,
.popup_scroll_content input:first-child:hover,
.popup_scroll_content input:nth-child(2):focus,
.popup_scroll_content input:nth-child(2):hover {
  outline: none;
}

.popup_scroll_content div {
  border-radius: 20px;
  border: 1px solid #EC4746;
  background: #FFF;
  display: flex;
  width: 180px;
  height: 120px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #EC4746;
  text-align: center;
  font-family: "Pretendard-SemiBold", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 44px;
  cursor: pointer;
}

.join_popup_close {
  width: 100%;
  height: 160px;
  margin: 0 80px 60px 80px;
  border-radius: 24px;
  background: #191F28;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFF;
  text-align: center;
  font-family: "Pretendard-Medium", sans-serif;
  font-size: 52px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px;
}

@media (width: 1080px) {
  .box {
    border-radius: 15px;
    margin: 10px 50px 50px 50px;
    height: 1600px;
    padding: 30px;
  }

  .search_box {
    border-radius: 10px;
    padding: 30px;
    gap: 12px;
  }

  .search_box_label {
    font-size: 20px;
    letter-spacing: -0.5px;
    margin-right: 21px;
    width: 69px;
  }

  .month_btn_wrapper {
    gap: 8px;
  }

  .month_btn_wrapper div {
    border-radius: 10px;
    border: 1px solid #7A7A7A;
    width: 90px;
    height: 50px;
    font-size: 20px;
    letter-spacing: -0.5px;
  }

  .month_btn_active {
    border: 1px solid #191F28 !important;
  }

  .date_wrapper {
    gap: 15px;
    margin-left: 14px;
  }

  .date_wrapper input {
    padding: 0 12px 0 12px;
    border-radius: 10px;
    border: 1px solid #7A7A7A;
    width: 210px;
    height: 50px;
    font-size: 20px;
    background: #FFF url('../../img/facility/calendar.svg') no-repeat right 12px center;
    background-size: 24px;
  }

  .date_wrapper span {
    font-size: 18px;
  }

  .reservation_status_wrapper {
    gap: 14px;
  }

  .reservation_status_wrapper div {
    border-radius: 10px;
    border: 1px solid #7A7A7A;
    background: #FFF;
    width: 158px;
    height: 50px;
    font-size: 20px;
  }

  .reservation_status_btn_active {
    border: 1px solid #191F28 !important;
  }

  .reservation_status input {
    height: 50px;
    margin-left: 12px;
    border-radius: 10px;
    border: 1px solid #7A7A7A;
    padding: 0 20px;
    width: 419px;
    font-size: 20px;
  }

  .inquiry {
    border-radius: 10px;
    height: 50px;
    font-size: 20px;
    letter-spacing: -1px;
  }

  .list_header {
    margin: 10px 0 10px 0;
  }

  .list_header div:first-child {
    font-size: 16px;
  }

  .list_header div:nth-child(2) {
    border-radius: 8px;
    border: 1px solid #EC4746;
    width: 100px;
    height: 42px;
    font-size: 18px;
    margin: 10px 0 10px 0;
  }

  .list_wrapper {
    height: 1140px;
    gap: 10px;
  }

  .no_data {
    font-size: 24px;
    line-height: 18px;
    letter-spacing: -0.6px;
  }

  .list_item {
    padding: 23px 30px 23px 30px;
    border-radius: 10px;
    border: 1px solid #B8B8B8;
    height: 210px;
    min-height: 210px;
  }

  .right_wrapper {
    gap: 21px;
  }

  .check_area img {
    width: 38px;
    height: 38px;
  }

  .content_area div:first-child {
    font-size: 16px;
    letter-spacing: -0.4px;
    margin-bottom: 10px;
  }

  .content_area div:nth-child(2) {
    font-size: 22px;
    line-height: 18px;
    letter-spacing: -0.55px;
    margin-bottom: 20px;
  }

  .content_area div:nth-child(3) {
    font-size: 24px;
    line-height: 18px;
    letter-spacing: -0.6px;
    margin-bottom: 20px;
  }

  .content_area div:nth-child(4) {
    font-size: 24px;
    line-height: 18px;
    letter-spacing: -0.6px;
  }

  .badge_area {
    gap: 8px;
  }

  .status_1,  .status_2, .status_3 {
    border-radius: 10px;
    border: 1px solid #229829;
    gap: 4px;
    width: 130px;
    height: 50px;
  }

  .status_1 img, .status_2 img, .status_3 img, .status_4 img,  .status_5 img {
    width: 20px;
    height: 20px;
  }

  .status_1 div, .status_2 div, .status_3 div {
    font-size: 18px;
  }

  .status_4 {
    border-radius: 10px;
    border: 1px solid #0D65F8;
    gap: 4px;
    width: 130px;
    height: 50px;
  }

  .status_4 div {
    font-size: 18px;
  }

  .status_5 {
    border-radius: 10px;
    border: 1px solid #454545;
    gap: 4px;
    width: 130px;
    height: 50px;
  }

  .status_5 div {
    font-size: 18px;
  }

  .status_6 {
    border-radius: 10px;
    width: 130px;
    height: 50px;
    padding: 10px 12px;
    font-size: 18px;
  }

  .status_7, .status_8, .status_9 {
    width: 130px;
    height: 50px;
    gap: 4px;
    border-radius: 10px;
    font-size: 18px;
  }

  .pagination {
    gap: 8px;
    margin-top: 45px;
  }

  .pagination div {
    border-radius: 4px;
    border: 1px solid #E5E8EB;
    width: 38px;
    height: 38px;
    font-size: 16px;
    letter-spacing: -0.4px;
  }

  .pagination div img {
    width: 20px;
    height: 20px;
  }

  .prev {
    height: 74px;
    width: 74px;
    top: 803px;
    left: -50px;
  }

  .next {
    height: 74px;
    width: 74px;
    top: 803px;
    right: -50px;
  }

  .join_popup {
    width: 700px;
    height: 553px;
    border-radius: 20px;
  }

  .join_popup_header {
    border-radius: 20px 20px 0 0;
    height: 77px;
    font-size: 26px;
    letter-spacing: -1px;
  }

  .join_popup_content {
    padding: 50px 40px 10px 40px;
    gap: 30px;
  }

  .popup_description {
    font-size: 26px;
    letter-spacing: -1px;
  }

  .popup_scroll {
    height: 200px;
    gap: 10px;
  }

  .popup_scroll_header {
    gap: 8px;
  }

  .popup_scroll_header div:first-child {
    width: 200px;
    height: 60px;
    border-radius: 10px;
    font-size: 26px;
    line-height: 22px;
  }

  .popup_scroll_header div:nth-child(2) {
    width: 270px;
    height: 60px;
    border-radius: 10px;
    font-size: 26px;
    line-height: 22px;
  }

  .popup_scroll_header div:nth-child(3) {
    width: 90px;
    height: 60px;
    border-radius: 10px;
    font-size: 20px;
    line-height: 22px;
  }

  .popup_scroll_content {
    gap: 8px;
  }

  .popup_scroll_content input:first-child {
    width: 200px;
    height: 60px;
    border-radius: 10px;
    font-size: 26px;
    line-height: 22px;
    padding: 0 20px;
  }

  .popup_scroll_content input:nth-child(2) {
    width: 270px;
    height: 60px;
    border-radius: 10px;
    font-size: 26px;
    line-height: 22px;
    padding: 0 20px;
  }

  .popup_scroll_content div {
    border-radius: 10px;
    width: 90px;
    height: 60px;
    gap: 5px;
    font-size: 20px;
    line-height: 22px;
  }

  .join_popup_close {
    height: 80px;
    margin: 0 40px 30px 40px;
    border-radius: 12px;
    font-size: 26px;
    line-height: 20px;
  }
}

/* 태블릿 (가로) - 화면 크기 768px 이상 1200px 이하  */
@media (min-width: 768px) and (max-width: 1079px) {
  .content {
    padding-bottom: 50px;
    overflow-y: scroll;
    overflow-x: hidden;
  }

  .box {
    border-radius: 11px;
    margin: 7px 35px 35px 35px;
    height: 1120px;
    padding: 21px;
  }

  .search_box {
    border-radius: 7px;
    padding: 21px;
    gap: 8px;
  }

  .search_box_label {
    font-size: 14px;
    letter-spacing: -0.35px;
    margin-right: 15px;
    width: 48px;
  }

  .month_btn_wrapper {
    gap: 6px;
  }

  .month_btn_wrapper div {
    border-radius: 7px;
    border: 1px solid #7A7A7A;
    width: 63px;
    height: 35px;
    font-size: 14px;
    letter-spacing: -0.35px;
  }

  .month_btn_active {
    border: 1px solid #191F28 !important;
  }

  .date_wrapper {
    gap: 11px;
    margin-left: 10px;
  }

  .date_wrapper input {
    padding: 0 8px 0 8px;
    border-radius: 7px;
    border: 1px solid #7A7A7A;
    width: 147px;
    height: 35px;
    font-size: 14px;
    background: #FFF url('../../img/facility/calendar.svg') no-repeat right 8px center;
    background-size: 17px;
  }

  .date_wrapper span {
    font-size: 13px;
  }

  .reservation_status_wrapper {
    gap: 10px;
  }

  .reservation_status_wrapper div {
    border-radius: 7px;
    border: 1px solid #7A7A7A;
    background: #FFF;
    width: 111px;
    height: 35px;
    font-size: 14px;
  }

  .reservation_status_btn_active {
    border: 1px solid #191F28 !important;
  }

  .reservation_status input {
    height: 35px;
    margin-left: 8px;
    border-radius: 7px;
    border: 1px solid #7A7A7A;
    padding: 0 14px;
    width: 293px;
    font-size: 14px;
  }

  .inquiry {
    border-radius: 7px;
    height: 35px;
    font-size: 14px;
    letter-spacing: -0.7px;
  }

  .list_header {
    margin: 7px 0 7px 0;
  }

  .list_header div:first-child {
    font-size: 11px;
  }

  .list_header div:nth-child(2) {
    border-radius: 6px;
    border: 1px solid #EC4746;
    width: 70px;
    height: 29px;
    font-size: 13px;
    margin: 7px 0 7px 0;
  }

  .list_wrapper {
    height: 798px;
    gap: 7px;
  }

  .no_data {
    font-size: 17px;
    line-height: 13px;
    letter-spacing: -0.42px;
  }

  .list_item {
    padding: 16px 21px 16px 21px;
    border-radius: 7px;
    border: 1px solid #B8B8B8;
    height: 147px;
    min-height: 147px;
  }

  .right_wrapper {
    gap: 15px;
  }

  .check_area img {
    width: 27px;
    height: 27px;
  }

  .content_area div:first-child {
    font-size: 11px;
    letter-spacing: -0.28px;
    margin-bottom: 7px;
  }

  .content_area div:nth-child(2) {
    font-size: 15px;
    line-height: 13px;
    letter-spacing: -0.39px;
    margin-bottom: 14px;
  }

  .content_area div:nth-child(3) {
    font-size: 17px;
    line-height: 13px;
    letter-spacing: -0.42px;
    margin-bottom: 14px;
  }

  .content_area div:nth-child(4) {
    font-size: 17px;
    line-height: 13px;
    letter-spacing: -0.42px;
  }

  .badge_area {
    gap: 6px;
  }

  .status_1, .status_2, .status_3 {
    border-radius: 7px;
    border: 1px solid #229829;
    gap: 3px;
    width: 91px;
    height: 35px;
  }

  .status_1 img, .status_2 img, .status_3 img, .status_4 img, .status_5 img {
    width: 14px;
    height: 14px;
  }

  .status_1 div, .status_2 div, .status_3 div {
    font-size: 13px;
  }

  .status_4 {
    border-radius: 7px;
    border: 1px solid #0D65F8;
    gap: 3px;
    width: 91px;
    height: 35px;
  }

  .status_4 div {
    font-size: 13px;
  }

  .status_5 {
    border-radius: 7px;
    border: 1px solid #454545;
    gap: 3px;
    width: 91px;
    height: 35px;
  }

  .status_5 div {
    font-size: 13px;
  }

  .status_6 {
    border-radius: 7px;
    width: 91px;
    height: 35px;
    padding: 7px 8px;
    font-size: 13px;
  }

  .status_7, .status_8, .status_9 {
    width: 91px;
    height: 35px;
    gap: 3px;
    border-radius: 7px;
    font-size: 13px;
  }

  .pagination {
    gap: 6px;
    margin-top: 32px;
  }

  .pagination div {
    border-radius: 3px;
    border: 1px solid #E5E8EB;
    width: 27px;
    height: 27px;
    font-size: 11px;
    letter-spacing: -0.28px;
  }

  .pagination div img {
    width: 14px;
    height: 14px;
  }

  .prev {
    height: 52px;
    width: 52px;
    top: 562px;
    left: -35px;
  }

  .next {
    height: 52px;
    width: 52px;
    top: 562px;
    right: -35px;
  }

  .join_popup {
    width: 490px;
    height: 387px;
    border-radius: 14px;
  }

  .join_popup_header {
    border-radius: 14px 14px 0 0;
    height: 54px;
    font-size: 18px;
    letter-spacing: -1px;
  }

  .join_popup_content {
    padding: 35px 28px 7px 28px;
    gap: 21px;
  }

  .popup_description {
    font-size: 18px;
    letter-spacing: -1px;
  }

  .popup_scroll {
    height: 140px;
    gap: 7px;
  }

  .popup_scroll_header {
    gap: 6px;
  }

  .popup_scroll_header div:first-child {
    width: 140px;
    height: 42px;
    border-radius: 7px;
    font-size: 18px;
    line-height: 15px;
  }

  .popup_scroll_header div:nth-child(2) {
    width: 189px;
    height: 42px;
    border-radius: 7px;
    font-size: 18px;
    line-height: 15px;
  }

  .popup_scroll_header div:nth-child(3) {
    width: 63px;
    height: 42px;
    border-radius: 7px;
    font-size: 14px;
    line-height: 15px;
  }

  .popup_scroll_content {
    gap: 6px;
  }

  .popup_scroll_content input:first-child {
    width: 140px;
    height: 42px;
    border-radius: 7px;
    font-size: 18px;
    line-height: 15px;
    padding: 0 14px;
  }

  .popup_scroll_content input:nth-child(2) {
    width: 189px;
    height: 42px;
    border-radius: 7px;
    font-size: 18px;
    line-height: 15px;
    padding: 0 14px;
  }

  .popup_scroll_content div {
    border-radius: 7px;
    width: 63px;
    height: 42px;
    gap: 4px;
    font-size: 14px;
    line-height: 15px;
  }

  .join_popup_close {
    height: 56px;
    margin: 0 28px 21px 28px;
    border-radius: 8px;
    font-size: 18px;
    line-height: 14px;
  }
}

/* 태블릿 (세로) - 화면 크기 600px 이상 767px 이하 */
@media (min-width: 600px) and (max-width: 767px) {
  .content {
    padding-bottom: 35px;
    overflow-y: scroll;
    overflow-x: hidden;
  }

  .box {
    border-radius: 8px;
    margin: 5px 25px 25px 25px;
    height: 784px;
    padding: 15px;
  }

  .search_box {
    border-radius: 5px;
    padding: 15px;
    gap: 6px;
  }

  .search_box_label {
    font-size: 10px;
    letter-spacing: -0.25px;
    margin-right: 11px;
    width: 34px;
  }

  .month_btn_wrapper {
    gap: 4px;
  }

  .month_btn_wrapper div {
    border-radius: 5px;
    border: 1px solid #7A7A7A;
    width: 44px;
    height: 25px;
    font-size: 10px;
    letter-spacing: -0.25px;
  }

  .month_btn_active {
    border: 1px solid #191F28 !important;
  }

  .date_wrapper {
    gap: 8px;
    margin-left: 7px;
  }

  .date_wrapper input {
    padding: 0 6px 0 6px;
    border-radius: 5px;
    border: 1px solid #7A7A7A;
    width: 103px;
    height: 25px;
    font-size: 10px;
    background: #FFF url('../../img/facility/calendar.svg') no-repeat right 6px center;
    background-size: 12px;
  }

  .date_wrapper span {
    font-size: 9px;
  }

  .reservation_status_wrapper {
    gap: 7px;
  }

  .reservation_status_wrapper div {
    border-radius: 5px;
    border: 1px solid #7A7A7A;
    background: #FFF;
    width: 78px;
    height: 25px;
    font-size: 10px;
  }

  .reservation_status_btn_active {
    border: 1px solid #191F28 !important;
  }

  .reservation_status input {
    height: 25px;
    margin-left: 6px;
    border-radius: 5px;
    border: 1px solid #7A7A7A;
    padding: 0 10px;
    width: 205px;
    font-size: 10px;
  }

  .inquiry {
    border-radius: 5px;
    height: 25px;
    font-size: 10px;
    letter-spacing: -0.49px;
  }

  .list_header {
    margin: 5px 0 5px 0;
  }

  .list_header div:first-child {
    font-size: 8px;
  }

  .list_header div:nth-child(2) {
    border-radius: 4px;
    border: 1px solid #EC4746;
    width: 49px;
    height: 20px;
    font-size: 9px;
    margin: 5px 0 5px 0;
  }

  .list_wrapper {
    height: 559px;
    gap: 5px;
  }

  .no_data {
    font-size: 12px;
    line-height: 9px;
    letter-spacing: -0.29px;
  }

  .list_item {
    padding: 11px 15px 11px 15px;
    border-radius: 5px;
    border: 1px solid #B8B8B8;
    height: 103px;
    min-height: 103px;
  }

  .right_wrapper {
    gap: 11px;
  }

  .check_area img {
    width: 19px;
    height: 19px;
  }

  .content_area div:first-child {
    font-size: 8px;
    letter-spacing: -0.2px;
    margin-bottom: 5px;
  }

  .content_area div:nth-child(2) {
    font-size: 11px;
    line-height: 9px;
    letter-spacing: -0.27px;
    margin-bottom: 10px;
  }

  .content_area div:nth-child(3) {
    font-size: 12px;
    line-height: 9px;
    letter-spacing: -0.29px;
    margin-bottom: 10px;
  }

  .content_area div:nth-child(4) {
    font-size: 12px;
    line-height: 9px;
    letter-spacing: -0.29px;
  }

  .badge_area {
    gap: 4px;
  }

  .status_1, .status_2, .status_3 {
    border-radius: 5px;
    border: 1px solid #229829;
    gap: 2px;
    width: 64px;
    height: 25px;
  }

  .status_1 img, .status_2 img, .status_3 img, .status_4 img, .status_5 img {
    width: 10px;
    height: 10px;
  }

  .status_1 div, .status_2 div, .status_3 div {
    font-size: 9px;
  }

  .status_4 {
    border-radius: 5px;
    border: 1px solid #0D65F8;
    gap: 2px;
    width: 64px;
    height: 25px;
  }

  .status_4 div {
    font-size: 9px;
  }

  .status_5 {
    border-radius: 5px;
    border: 1px solid #454545;
    gap: 2px;
    width: 64px;
    height: 25px;
  }

  .status_5 div {
    font-size: 9px;
  }

  .status_6 {
    border-radius: 5px;
    width: 64px;
    height: 25px;
    padding: 5px 6px;
    font-size: 9px;
  }

  .status_7, .status_8, .status_9 {
    width: 64px;
    height: 25px;
    gap: 2px;
    border-radius: 5px;
    font-size: 9px;
  }

  .pagination {
    gap: 4px;
    margin-top: 22px;
  }

  .pagination div {
    border-radius: 2px;
    border: 1px solid #E5E8EB;
    width: 19px;
    height: 19px;
    font-size: 8px;
    letter-spacing: -0.2px;
  }

  .pagination div img {
    width: 10px;
    height: 10px;
  }

  .prev {
    height: 36px;
    width: 36px;
    top: 393px;
    left: -25px;
  }

  .next {
    height: 36px;
    width: 36px;
    top: 393px;
    right: -25px;
  }

  .join_popup {
    width: 343px;
    height: 271px;
    border-radius: 10px;
  }

  .join_popup_header {
    border-radius: 10px 10px 0 0;
    height: 38px;
    font-size: 13px;
    letter-spacing: -1px;
  }

  .join_popup_content {
    padding: 25px 20px 5px 20px;
    gap: 15px;
  }

  .popup_description {
    font-size: 13px;
    letter-spacing: -1px;
  }

  .popup_scroll {
    height: 98px;
    gap: 5px;
  }

  .popup_scroll_header {
    gap: 4px;
  }

  .popup_scroll_header div:first-child {
    width: 98px;
    height: 29px;
    border-radius: 5px;
    font-size: 13px;
    line-height: 11px;
  }

  .popup_scroll_header div:nth-child(2) {
    width: 132px;
    height: 29px;
    border-radius: 5px;
    font-size: 13px;
    line-height: 11px;
  }

  .popup_scroll_header div:nth-child(3) {
    width: 44px;
    height: 29px;
    border-radius: 5px;
    font-size: 10px;
    line-height: 11px;
  }

  .popup_scroll_content {
    gap: 4px;
  }

  .popup_scroll_content input:first-child {
    width: 98px;
    height: 29px;
    border-radius: 5px;
    font-size: 13px;
    line-height: 11px;
    padding: 0 10px;
  }

  .popup_scroll_content input:nth-child(2) {
    width: 132px;
    height: 29px;
    border-radius: 5px;
    font-size: 13px;
    line-height: 11px;
    padding: 0 10px;
  }

  .popup_scroll_content div {
    border-radius: 5px;
    width: 44px;
    height: 29px;
    gap: 3px;
    font-size: 10px;
    line-height: 11px;
  }

  .join_popup_close {
    height: 39px;
    margin: 0 20px 15px 20px;
    border-radius: 6px;
    font-size: 13px;
    line-height: 10px;
  }
}

/* 모바일 (가로) - 화면 크기 480px 이상 599px 이하 */
@media (min-width: 480px) and (max-width: 599px) {
  .content {
    padding-bottom: 25px;
    overflow-y: scroll;
    overflow-x: hidden;
  }

  .box {
    border-radius: 6px;
    margin: 4px 18px 18px 18px;
    height: 549px;
    padding: 11px;
  }

  .search_box {
    border-radius: 4px;
    padding: 11px;
    gap: 4px;
  }

  .search_box_label {
    font-size: 7px;
    letter-spacing: -0.18px;
    margin-right: 8px;
    width: 24px;
  }

  .month_btn_wrapper {
    gap: 3px;
  }

  .month_btn_wrapper div {
    border-radius: 4px;
    border: 1px solid #7A7A7A;
    width: 31px;
    height: 18px;
    font-size: 7px;
    letter-spacing: -0.18px;
  }

  .month_btn_active {
    border: 1px solid #191F28 !important;
  }

  .date_wrapper {
    gap: 6px;
    margin-left: 5px;
  }

  .date_wrapper input {
    padding: 0 4px 0 4px;
    border-radius: 4px;
    border: 1px solid #7A7A7A;
    width: 72px;
    height: 18px;
    font-size: 7px;
    background: #FFF url('../../img/facility/calendar.svg') no-repeat right 4px center;
    background-size: 8px;
  }

  .date_wrapper span {
    font-size: 6px;
  }

  .reservation_status_wrapper {
    gap: 5px;
  }

  .reservation_status_wrapper div {
    border-radius: 4px;
    border: 1px solid #7A7A7A;
    background: #FFF;
    width: 55px;
    height: 18px;
    font-size: 7px;
  }

  .reservation_status_btn_active {
    border: 1px solid #191F28 !important;
  }

  .reservation_status input {
    height: 18px;
    margin-left: 4px;
    border-radius: 4px;
    border: 1px solid #7A7A7A;
    padding: 0 7px;
    width: 144px;
    font-size: 7px;
  }

  .inquiry {
    border-radius: 4px;
    height: 18px;
    font-size: 7px;
    letter-spacing: -0.34px;
  }

  .list_header {
    margin: 4px 0 4px 0;
  }

  .list_header div:first-child {
    font-size: 6px;
  }

  .list_header div:nth-child(2) {
    border-radius: 3px;
    border: 1px solid #EC4746;
    width: 34px;
    height: 14px;
    font-size: 6px;
    margin: 4px 0 4px 0;
  }

  .list_wrapper {
    height: 391px;
    gap: 4px;
  }

  .no_data {
    font-size: 8px;
    line-height: 6px;
    letter-spacing: -0.2px;
  }

  .list_item {
    padding: 8px 11px 8px 11px;
    border-radius: 4px;
    border: 1px solid #B8B8B8;
    height: 72px;
    min-height: 72px;
  }

  .right_wrapper {
    gap: 8px;
  }

  .check_area img {
    width: 13px;
    height: 13px;
  }

  .content_area div:first-child {
    font-size: 6px;
    letter-spacing: -0.14px;
    margin-bottom: 4px;
  }

  .content_area div:nth-child(2) {
    font-size: 8px;
    line-height: 6px;
    letter-spacing: -0.19px;
    margin-bottom: 7px;
  }

  .content_area div:nth-child(3) {
    font-size: 8px;
    line-height: 6px;
    letter-spacing: -0.2px;
    margin-bottom: 7px;
  }

  .content_area div:nth-child(4) {
    font-size: 8px;
    line-height: 6px;
    letter-spacing: -0.2px;
  }

  .badge_area {
    gap: 3px;
  }

  .status_1, .status_2, .status_3 {
    border-radius: 4px;
    border: 1px solid #229829;
    gap: 1px;
    width: 45px;
    height: 18px;
  }

  .status_1 img, .status_2 img, .status_3 img, .status_4 img, .status_5 img {
    width: 7px;
    height: 7px;
  }

  .status_1 div, .status_2 div, .status_3 div {
    font-size: 6px;
  }

  .status_4 {
    border-radius: 4px;
    border: 1px solid #0D65F8;
    gap: 1px;
    width: 45px;
    height: 18px;
  }

  .status_4 div {
    font-size: 6px;
  }

  .status_5 {
    border-radius: 4px;
    border: 1px solid #454545;
    gap: 1px;
    width: 45px;
    height: 18px;
  }

  .status_5 div {
    font-size: 6px;
  }

  .status_6 {
    border-radius: 4px;
    width: 45px;
    height: 18px;
    padding: 4px 4px;
    font-size: 6px;
  }

  .status_7, .status_8, .status_9 {
    width: 45px;
    height: 18px;
    gap: 1px;
    border-radius: 4px;
    font-size: 6px;
  }

  .pagination {
    gap: 3px;
    margin-top: 15px;
  }

  .pagination div {
    border-radius: 1px;
    border: 1px solid #E5E8EB;
    width: 13px;
    height: 13px;
    font-size: 6px;
    letter-spacing: -0.14px;
  }

  .pagination div img {
    width: 7px;
    height: 7px;
  }

  .prev {
    height: 25px;
    width: 25px;
    top: 275px;
    left: -18px;
  }

  .next {
    height: 25px;
    width: 25px;
    top: 275px;
    right: -18px;
  }

  .join_popup {
    width: 240px;
    height: 190px;
    border-radius: 7px;
  }

  .join_popup_header {
    border-radius: 7px 7px 0 0;
    height: 27px;
    font-size: 9px;
    letter-spacing: -1px;
  }

  .join_popup_content {
    padding: 18px 14px 4px 14px;
    gap: 11px;
  }

  .popup_description {
    font-size: 9px;
    letter-spacing: -1px;
  }

  .popup_scroll {
    height: 69px;
    gap: 4px;
  }

  .popup_scroll_header {
    gap: 3px;
  }

  .popup_scroll_header div:first-child {
    width: 69px;
    height: 20px;
    border-radius: 4px;
    font-size: 9px;
    line-height: 8px;
  }

  .popup_scroll_header div:nth-child(2) {
    width: 92px;
    height: 20px;
    border-radius: 4px;
    font-size: 9px;
    line-height: 8px;
  }

  .popup_scroll_header div:nth-child(3) {
    width: 31px;
    height: 20px;
    border-radius: 4px;
    font-size: 7px;
    line-height: 8px;
  }

  .popup_scroll_content {
    gap: 3px;
  }

  .popup_scroll_content input:first-child {
    width: 69px;
    height: 20px;
    border-radius: 4px;
    font-size: 9px;
    line-height: 8px;
    padding: 0 7px;
  }

  .popup_scroll_content input:nth-child(2) {
    width: 92px;
    height: 20px;
    border-radius: 4px;
    font-size: 9px;
    line-height: 8px;
    padding: 0 7px;
  }

  .popup_scroll_content div {
    border-radius: 4px;
    width: 31px;
    height: 20px;
    gap: 2px;
    font-size: 7px;
    line-height: 8px;
  }

  .join_popup_close {
    height: 27px;
    margin: 0 14px 11px 14px;
    border-radius: 4px;
    font-size: 9px;
    line-height: 7px;
  }
}

/* 모바일 (세로) - 화면 크기 320px 이상 479px 이하 */
@media (max-width: 479px) {
  .content {
    padding-bottom: 18px;
    overflow-y: scroll;
    overflow-x: hidden;
  }

  .box {
    border-radius: 4px;
    margin: 3px 13px 13px 13px;
    height: 384px;
    padding: 8px;
  }

  .search_box {
    border-radius: 3px;
    padding: 8px;
    gap: 3px;
  }

  .search_box_label {
    font-size: 5px;
    letter-spacing: -0.13px;
    margin-right: 6px;
    width: 17px;
  }

  .month_btn_wrapper {
    gap: 2px;
  }

  .month_btn_wrapper div {
    border-radius: 3px;
    border: 1px solid #7A7A7A;
    width: 22px;
    height: 13px;
    font-size: 5px;
    letter-spacing: -0.13px;
  }

  .month_btn_active {
    border: 1px solid #191F28 !important;
  }

  .date_wrapper {
    gap: 4px;
    margin-left: 4px;
  }

  .date_wrapper input {
    padding: 0 3px 0 3px;
    border-radius: 3px;
    border: 1px solid #7A7A7A;
    width: 50px;
    height: 13px;
    font-size: 5px;
    background: #FFF url('../../img/facility/calendar.svg') no-repeat right 3px center;
    background-size: 6px;
  }

  .date_wrapper span {
    font-size: 4px;
  }

  .reservation_status_wrapper {
    gap: 4px;
  }

  .reservation_status_wrapper div {
    border-radius: 3px;
    border: 1px solid #7A7A7A;
    background: #FFF;
    width: 39px;
    height: 13px;
    font-size: 5px;
  }

  .reservation_status_btn_active {
    border: 1px solid #191F28 !important;
  }

  .reservation_status input {
    height: 13px;
    margin-left: 3px;
    border-radius: 3px;
    border: 1px solid #7A7A7A;
    padding: 0 5px;
    width: 101px;
    font-size: 5px;
  }

  .inquiry {
    border-radius: 3px;
    height: 13px;
    font-size: 5px;
    letter-spacing: -0.24px;
  }

  .list_header {
    margin: 3px 0 3px 0;
  }

  .list_header div:first-child {
    font-size: 4px;
  }

  .list_header div:nth-child(2) {
    border-radius: 2px;
    border: 1px solid #EC4746;
    width: 24px;
    height: 10px;
    font-size: 4px;
    margin: 3px 0 3px 0;
  }

  .list_wrapper {
    height: 274px;
    gap: 3px;
  }

  .no_data {
    font-size: 6px;
    line-height: 4px;
    letter-spacing: -0.14px;
  }

  .list_item {
    padding: 6px 8px 6px 8px;
    border-radius: 3px;
    border: 1px solid #B8B8B8;
    height: 50px;
    min-height: 50px;
  }

  .right_wrapper {
    gap: 6px;
  }

  .check_area img {
    width: 9px;
    height: 9px;
  }

  .content_area div:first-child {
    font-size: 4px;
    letter-spacing: -0.1px;
    margin-bottom: 3px;
  }

  .content_area div:nth-child(2) {
    font-size: 6px;
    line-height: 4px;
    letter-spacing: -0.13px;
    margin-bottom: 5px;
  }

  .content_area div:nth-child(3) {
    font-size: 6px;
    line-height: 4px;
    letter-spacing: -0.14px;
    margin-bottom: 5px;
  }

  .content_area div:nth-child(4) {
    font-size: 6px;
    line-height: 4px;
    letter-spacing: -0.14px;
  }

  .badge_area {
    gap: 2px;
  }

  .status_1, .status_2, .status_3 {
    border-radius: 3px;
    border: 1px solid #229829;
    gap: 1px;
    width: 32px;
    height: 13px;
  }

  .status_1 img, .status_2 img, .status_3 img, .status_4 img, .status_5 img {
    width: 5px;
    height: 5px;
  }

  .status_1 div, .status_2 div, .status_3 div {
    font-size: 4px;
  }

  .status_4 {
    border-radius: 3px;
    border: 1px solid #0D65F8;
    gap: 1px;
    width: 32px;
    height: 13px;
  }

  .status_4 div {
    font-size: 4px;
  }

  .status_5 {
    border-radius: 3px;
    border: 1px solid #454545;
    gap: 1px;
    width: 32px;
    height: 13px;
  }

  .status_5 div {
    font-size: 4px;
  }

  .status_6 {
    border-radius: 3px;
    width: 32px;
    height: 13px;
    padding: 3px 3px;
    font-size: 4px;
  }

  .status_7, .status_8, .status_9 {
    width: 32px;
    height: 13px;
    gap: 1px;
    border-radius: 3px;
    font-size: 4px;
  }

  .pagination {
    gap: 2px;
    margin-top: 11px;
  }

  .pagination div {
    border-radius: 1px;
    border: 1px solid #E5E8EB;
    width: 9px;
    height: 9px;
    font-size: 4px;
    letter-spacing: -0.1px;
  }

  .pagination div img {
    width: 5px;
    height: 5px;
  }

  .prev {
    height: 18px;
    width: 18px;
    top: 193px;
    left: -13px;
  }

  .next {
    height: 18px;
    width: 18px;
    top: 193px;
    right: -13px;
  }

  .join_popup {
    width: 168px;
    height: 133px;
    border-radius: 5px;
  }

  .join_popup_header {
    border-radius: 5px 5px 0 0;
    height: 19px;
    font-size: 6px;
    letter-spacing: -1px;
  }

  .join_popup_content {
    padding: 13px 10px 3px 10px;
    gap: 8px;
  }

  .popup_description {
    font-size: 6px;
    letter-spacing: -1px;
  }

  .popup_scroll {
    height: 48px;
    gap: 3px;
  }

  .popup_scroll_header {
    gap: 2px;
  }

  .popup_scroll_header div:first-child {
    width: 48px;
    height: 14px;
    border-radius: 3px;
    font-size: 6px;
    line-height: 6px;
  }

  .popup_scroll_header div:nth-child(2) {
    width: 64px;
    height: 14px;
    border-radius: 3px;
    font-size: 6px;
    line-height: 6px;
  }

  .popup_scroll_header div:nth-child(3) {
    width: 22px;
    height: 14px;
    border-radius: 3px;
    font-size: 5px;
    line-height: 6px;
  }

  .popup_scroll_content {
    gap: 2px;
  }

  .popup_scroll_content input:first-child {
    width: 48px;
    height: 14px;
    border-radius: 3px;
    font-size: 6px;
    line-height: 6px;
    padding: 0 5px;
  }

  .popup_scroll_content input:nth-child(2) {
    width: 64px;
    height: 14px;
    border-radius: 3px;
    font-size: 6px;
    line-height: 6px;
    padding: 0 5px;
  }

  .popup_scroll_content div {
    border-radius: 3px;
    width: 22px;
    height: 14px;
    gap: 1px;
    font-size: 5px;
    line-height: 6px;
  }

  .join_popup_close {
    height: 19px;
    margin: 0 10px 8px 10px;
    border-radius: 3px;
    font-size: 6px;
    line-height: 5px;
  }
}