.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 120px;
  height: 240px;
}

.header_kr {
  color: #191F28;
  text-align: center;
  font-family: Pretendard-Medium, sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.header_en {
  color:  #6B7684;
  font-family: Pretendard-ExtraBold, sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 7.2px;
  text-transform: uppercase;
}