.container {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  background: url("../../img/media/notice_bg.png") no-repeat center center/cover;
}

.slider {
  width: 100%;
  margin-top: 240px;
}

.slider .slick-list {
  overflow: visible;
}

.slider .slick-track {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.slider .slick-slide {
  height: 2000px;
  border-radius: 100px;
  box-shadow: 30px 40px 100px 0 rgba(197, 178, 171, 0.50);
  margin: 0 60px;
}

.slider .slick-slide img {
  width: 100%;
  object-fit: cover;
  height: 100%;
  border-radius: 100px;
}

.slider .slick-current {
  width: 1680px !important;
  height: 2400px;
}

.slider .slick-dots {
  display: flex;
  justify-content: center;
  gap: 32px;
  bottom: -184px;
}

.slider .slick-dots li button:before {
  font-size: 24px;
  color: #ACACAC;
  opacity: 1;
}

.slider .slick-dots li.slick-active button:before {
  color: #FFFFFF;
}

.ticker {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 128px;
  display: flex;
  align-items: center;
  background: #000;
}

.ticker div {
  color: #FFF;
  font-family: "Pretendard-Medium", sans-serif;
  font-size: 44px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  animation: ticker 50s linear infinite;
  white-space: nowrap;
  position: relative;
  width: 100%;
}

@keyframes ticker {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}