.container {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  background: url("../../img/media/notice_bg.png") no-repeat center center/cover;
}

.owl-carousel {
  margin-top: 240px;
}

.owl-carousel .owl-stage-outer {
  overflow: visible;
}

.item {
  height: 2400px;
  transition: .4s ease all;
  margin: 0 30px;
  transform: scale(0.9);
  border-radius: 100px;
  box-shadow: 40px 80px 100px rgba(186, 173, 153, 0.50);
}

.item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 100px;
}

.active .item, .slick-center {
  opacity: 1;
  transform: scale(1);
}

.owl-dots {
  position: absolute;
  bottom: -184px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999;
  display: flex !important;
  justify-content: center;
  gap: 32px;
}

.owl-dot {
  width: 24px;
  height: 24px;
  background-color: #B8B8B8 !important;
  border-radius: 50%;
}

.owl-dot.active {
  background-color: #454545 !important;
  opacity: 1;
}


.ticker {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 128px;
  display: flex;
  align-items: center;
  background: #000;
}

.ticker div {
  color: #FFF;
  font-family: "Pretendard-Medium", sans-serif;
  font-size: 44px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  animation: ticker 50s linear infinite;
  white-space: nowrap;
  position: relative;
  width: 100%;
}

@keyframes ticker {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}