.content {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: url("../../../ict/img/kiosk/notice_bg.png") no-repeat center center;
  background-size: cover;
  transition: top 0.8s ease-in-out;
}

.slider {
  margin-top: 240px;
}

.slider-container {
  width: 100%;
  margin: 380px auto 0;
  position: relative;
  height: 2554px;
}

.slider-container .slick-list {
  height: 2550px;
}

/* Slick 슬라이드 설정 */
.slider {
  display: flex;
  align-items: center;
}

.slider .slick-track {
  display: flex;
  align-items: center;
}

/* 슬라이드 스타일 */
.slider .slick-slide {
  border-radius: 80px;
  border: 4px solid var(--gray900, #121212);
  box-shadow: 30px 60px 60px 0px rgba(109, 81, 63, 0.30);
  margin: 0 60px;
  width: 1350px !important;
  height: 1920px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease-in-out;/
}

.slider .slick-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 80px;
}

/* 중앙 슬라이드 확대 */
.slider .slick-center {
  width: 1660px !important;
  height: 2360px !important;
  border: 6px solid #121212;
  border-radius: 80px;
  box-shadow: 30px 60px 60px 0px rgba(109, 81, 63, 0.30);
  transition: all 0.5s ease-in-out;/
}

.custom-controls {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 500px;
  margin: 120px auto 0;
  position: absolute;
  top: 92%;
  transform: translateX(-50%);
  left: 50%;
}

.custom-prev,
.custom-next {
  width: 100px;
  height: 52px;
  cursor: pointer;
}

.custom-prev img,
.custom-next img {
  width: 100%;
  height: auto;
}

/* 페이지네이션 */
.page-indicator {
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  color: var(--gray900, #121212);
  text-overflow: ellipsis;
  font-family: 'Pretendard';
  font-size: 60px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
  letter-spacing: -1.5px;
  text-transform: uppercase;
}

.page-indicator p {
  display: inline-block;
}

.page-indicator p.current_num {
  font-weight: 700;
}

@media (width: 1080px) {
  .slider {
    margin-top: 120px;
  }

  .slider-container {
    margin: 190px auto 0;
    height: 1275px;
  }

  .slider-container .slick-list {
    height: 1275px;
  }

  /* 슬라이드 스타일 */
  .slider .slick-slide {
    border-radius: 40px;
    border: 2px solid var(--gray900, #121212);
    box-shadow: 15px 30px 30px 0px rgba(109, 81, 63, 0.30);
    margin: 0 30px;
    width: 675px !important;
    height: 960px !important;
  }

  .slider .slick-slide img {
    border-radius: 40px;
  }

  /* 중앙 슬라이드 확대 */
  .slider .slick-center {
    width: 830px !important;
    height: 1180px !important;
    border: 3px solid #121212;
    border-radius: 40px;
    box-shadow: 15px 30px 30px 0px rgba(109, 81, 63, 0.30);
  }

  .custom-controls {
    width: 250px;
    margin: 60px auto 0;
  }

  .custom-prev,
  .custom-next {
    width: 50px;
    height: 26px;
  }

  /* 페이지네이션 */
  .page-indicator {
    font-size: 30px;
  }

}