.container_date {
  width: 100%;
  height: 100vh;
  background: #182852;
  background-size: cover;
  overflow: hidden;
}

/*시계*/
.container_date {
  width: 100%;
  height: 100vh;
  background: #182852;
  background-size: cover;
  overflow: hidden;
}

.container_date .left-sec {
  width: 34%;
  height: 100%;
  flex-shrink: 0;
  background: #23376B;
  box-shadow: 15px 0px 75px 0px rgba(0, 0, 0, 0.15);
  float: left;
}


.container_date .right-sec {
  width: 66%;
  height: 100%;
  flex-shrink: 0;
  background: #182852;
  box-shadow: 15px 0px 75px 0px rgba(0, 0, 0, 0.15);
  float: right;
}




.container_date .contents {
  position: relative;
  margin: 0;
  padding: 390px 0 0 0;
}

.container_date .ict_tit {
  color: #8b95a1;
}

.container_date .outer {
  display: table;
  width: 100%;
  height: 100%;
}

.container_date .inner {
  display: table-cell;
  width: 2472px;
  margin: 0 auto;
  vertical-align: middle;
  vertical-align: top;
}

.container_date .left-sec .text.small-txt {
  color: #FFF;
  text-align: center;
  font-family: 'Pretendard-Medium';
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  /* line-height: 100%; */
  /* 24px */
  letter-spacing: -0.72px;
  text-transform: uppercase;
}

.container_date .left-sec .clock {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url('../../img/roompad/analogclock-bg-3840.png') no-repeat center center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
}

.container_date .left-sec .clock::before {
  position: absolute;
  z-index: 100000;
  content: '';
  border: 3px solid #fff;
  border-radius: 50%;
  background: #2f363e;
}

.container_date .left-sec .clock span {
  position: absolute;
  -ms-transform: rotate(calc(30deg * var(--i)));
  -webkit-transform: rotate(calc(30deg * var(--i)));
  transform: rotate(calc(30deg * var(--i)));
  text-align: center;
  color: #fff;
  inset: 30px;
}

.container_date .left-sec .clock span b {
  font-weight: 600;
  display: inline-block;
  -ms-transform: rotate(calc(-30deg * var(--i)));
  -webkit-transform: rotate(calc(-30deg * var(--i)));
  transform: rotate(calc(-30deg * var(--i)));
  opacity: 0.25;
}

.container_date .left-sec .clock .circle {
  position: absolute;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  border-radius: 50%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
}

.container_date .left-sec .clock .circle i {
  position: absolute;
  height: 50%;
  -ms-transform: scaleY(0.5);
  -webkit-transform: scaleY(0.5);
  transform: scaleY(0.5);
  -ms-transform-origin: bottom;
  -webkit-transform-origin: bottom;
  transform-origin: bottom;
  opacity: 0.75;
  background: var(--clr);
}



.container_date .left-sec .clock .circle::before {
  position: absolute;
  content: '';
  border-radius: 50%;
  background: var(--clr);
  -webkit-box-shadow:
    0 0 20px var(--clr),
    0 0 60px var(--clr);
  box-shadow:
    0 0 20px var(--clr),
    0 0 60px var(--clr);
}

.container_date .left-sec .clock .circle2::before {
  position: absolute;
  content: '';
  border-radius: 50%;
  background: var(--clr);
  -webkit-box-shadow:
    0 0 20px var(--clr),
    0 0 60px var(--clr);
  box-shadow:
    0 0 20px var(--clr),
    0 0 60px var(--clr);
}

.container_date .left-sec .date-txt {
  text-align: center;
  color: #fff;
  letter-spacing: -0.84px;
}

.container_date .left-sec .time-txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
}

.container_date .left-sec .time-txt div {
  font-family: 'Century Gothic';
  position: relative;
  text-align: center;
  color: var(--clr);
}

.container_date .left-sec .time-txt div:nth-child(1)::after {
  position: absolute;
  content: ':';
  -webkit-animation: animate 1s steps(1) infinite;
  animation: animate 1s steps(1) infinite;
}

@-webkit-keyframes animate {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}

@keyframes animate {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}




.container_date .logo_top {
  display: flex;
  width: 660px;
  padding: 40px 60px;
  justify-content: center;
  align-items: center;
}

.container_date .contents {
  padding: 195px 0 0 0;
}



.container_date .left-sec .text.small-txt {
  margin-top: 76px;
}

.container_date .left-sec .clock {
  width: 330px;
  height: 330px;
  margin: 54px auto 0;
  background-size: cover;
}

.container_date .left-sec .clock::before {
  width: 4px;
  height: 4px;
  border: 1px solid #fff;
  border-radius: 50%;
}

.container_date .left-sec .clock .circle {
  width: 230px;
  height: 230px;
}

.container_date .left-sec .clock .circle:nth-child(1) i {
  width: 3px;
}

.container_date .left-sec .clock .circle:nth-child(2) i {
  width: 3px;
}

.container_date .left-sec .clock .circle2 {
  z-index: 9;
  width: 318px;
  height: 450px;
}

.container_date .left-sec .clock .circle3 {
  FONT-VARIANT: JIS83;
  width: 245px;
  height: 245px;
}

.container_date .left-sec .clock .circle::before {
  top: -39.5px;
  width: 5px;
  height: 5px;
}

.container_date .left-sec .clock .circle2::before {
  top: 63.5px;
  width: 5px;
  height: 5px;
}

.container_date .left-sec .date-txt {
  color: #FFF;
  text-align: center;
  font-family: Pretendard;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  /* 22px */
  letter-spacing: -0.44px;
  text-transform: uppercase;
  margin-top: 54px;
  margin-bottom: 8px;
}

.container_date .left-sec .time-txt {
  color: #FFF;
  text-align: center;
  font-family: "Century Gothic";
  font-size: 76px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  /* 76px */
  letter-spacing: 3.32px;
  text-transform: uppercase;
}

.container_date .left-sec .time-txt div {
  padding: 0 13px;
}

.container_date .left-sec .time-txt div:nth-child(1)::after,
.container_date .left-sec .time-txt div:nth-child(2)::after {
  top: -4px;
  right: -12px;
}



.container_date .btn_date {
  display: flex;
  height: 96px;
  padding: 15px;
  justify-content: center;
  align-items: center;
  gap: 15px;
  flex: 1 0 0;
  border-radius: 75px;
  background: #5370E9;
  color: #FFF;
  text-align: center;
  font-family: 'Pretendard-semiBold';
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  /* 30px */
  letter-spacing: 0;
  text-transform: uppercase;
  width: 450px;
  margin: 80px auto;
}

/*시계*/
.container_date .left-sec {
  width: 34%;
  height: 100%;
  flex-shrink: 0;
  background: #23376B;
  box-shadow: 15px 0px 75px 0px rgba(0, 0, 0, 0.15);
  float: left;
}

.container_date .slider-wrapper {
  max-width: 942px;
  margin: 173px auto 0;
  height: auto;
}

.container_date .top_tit {
  display: flex;
  gap: 212px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 54px;
}

.container_date .slider-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin-bottom: 20px; */
  font-size: 24px;
}

.container_date .top_tit h2 {
  color: #FFF;
  text-align: center;
  font-family: Pretendard;
  font-size: 38px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
  /* 38px */
  letter-spacing: -1.14px;
  text-transform: uppercase;
}

.container_date .today-date {
  color: #FFF;
  text-align: center;
  font-family: Pretendard-Semibold;
  font-size: 52px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
  /* 52px */
  letter-spacing: -1.04px;
  text-transform: uppercase;
}

.container_date .slider-header button {
  background: none;
  border: none;
  color: #fff;
  font-size: 28px;
  cursor: pointer;
}


.container_date .reservation-slider .slick-list {
  height: 584px;
  /* margin-bottom: 37px; */
}

.container_date .card {
  border-radius: 24px;
  background: #2D3D66;
  display: inline-flex !important;
  padding: 65px 62px 65px 62px;
  justify-content: center;
  align-items: center;
  /* margin-left: 22px; */
  /* margin-bottom: 24px; */
  flex-direction: column;
}

.container_date .slick-slide {
  margin-left: 22px;
  /* margin-bottom:24px; */
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 460px;
}

.container_date .card.active {
  border-radius: 24px;
  background: #264289;
}

.container_date .card.active .status {
  color: #91A6FF;
}

.container_date .status {
  color: #ADB5BD;
  text-align: center;
  font-family: Pretendard;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.6px;
  margin-bottom: 8px;
}

.container_date .name {
  color: #FFF;
  text-align: center;
  font-family: Pretendard;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2px;
  margin-bottom: 22px;
}

.container_date .time {
  color: #ADB5BD;
  text-align: center;
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.container_date .card.active .time {
  color: #91A6FF;
}


.container_date .slick-dots {
  bottom: -46px;
}

.container_date .slick-dots li button:before {
  font-size: 12px;
  color: #fff;
  opacity: 0.3;
}

.container_date .slick-dots li.slick-active button:before {
  opacity: 1;
  color: #fff;
}

.container_date .home_btn {
  width: 92px;
  height: 92px;
  float: right;
  margin-right: 40px;
  margin-top: 40px;
}