.container {
  width: 100%;
  height: 100vh;
  background: #182852;
  background-size: cover;
  overflow: hidden;
}

.container .left-sec {
  width: 34%;
  height: 100%;
  flex-shrink: 0;
  background: #23376B;
  box-shadow: 15px 0px 75px 0px rgba(0, 0, 0, 0.15);
  float: left;
}


.container .right-sec {
  width: 66%;
  height: 100%;
  flex-shrink: 0;
  background: #182852;
  box-shadow: 15px 0px 75px 0px rgba(0, 0, 0, 0.15);
  float: right;
}

.container .right-sec .wrap_txt {
  display: flex;
  width: 1260px;
  padding: 0px 138px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 18px;
  margin: 172px auto 107px;
  height: 170px;
}

.container .right-sec .wrap_txt h2 {
  color: #8B95A1;
  text-align: center;
  font-family: 'Pretendard-Medium';
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  /* 30px */
  text-transform: uppercase;
}

.container .right-sec .wrap_txt h1 {
  color: #FFF;
  text-align: center;
  font-family: 'Pretendard-SemiBold';
  font-size: 102px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  /* 122.4px */
  letter-spacing: -2.04px;
  text-transform: uppercase;
}

.container .right-sec .middle {
  display: flex;
  width: 552px;
  justify-content: center;
  align-items: center;
  gap: 36px;
  margin: 0 auto 107px;
}

.container .right-sec .middle .circle {
  display: flex;
  width: 160px;
  height: 160px;
  justify-content: center;
  align-items: center;
  gap: 15px;
  flex-shrink: 0;
  aspect-ratio: 1/1;
  color: #5370E9;
  text-align: center;
  font-family: Pretendard;
  font-size: 34px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.85px;
  border-radius: 750px;
  background: #FFF;
}

.container .right-sec .middle .left_txt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 12px;
  flex: 1 0 0;
}

.container .right-sec .middle .left_txt .top {
  overflow: hidden;
  color: #FFF;
  text-align: center;
  text-overflow: ellipsis;
  font-family: Pretendard;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2.4px;
}

.container .right-sec .middle .left_txt .top span {
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  color: #FFF;
  text-overflow: ellipsis;
  font-family: Pretendard;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 2px;
}

.container .right-sec .middle .left_txt .bottom {
  color: #91A6FF;
  text-align: center;
  font-family: 'Roboto-Bold';
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}


.container .div2 {
  font-size: 22px;
  font-weight: 500;
}


.container .slider-wrap {
  position: relative;
  padding-bottom: 32px;
  width: 970px;
  margin: 0 auto;
}

.container .custom-prev,
.container .custom-next {
  background: none;
  border: none;
  cursor: pointer;
  position: absolute;
  top: calc(56% - 32px);
  transform: translateY(-50%);
  z-index: 10;
}

.container .custom-prev {
  left: -40px;
}

.container .custom-next {
  right: -40px;
}

.container .slide-item {
  display: flex;
  padding: 43px 60px;
  justify-content: center;
  align-items: center;
  border-radius: 24px;
  background: #293962;
  margin-left: 10px;
  width: 170px;
  /* height: 130px; */
  flex-direction: column;
}

.container .status {
  color: #ADB5BD;
  text-align: center;
  font-family: Pretendard-Medium;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.55px;
}

.container .name {
  color: #FFF;
  text-align: center;
  font-family: Pretendard-SemiBold;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.8px;
  margin-top: 9px;
}

.container .time {
  color: #ADB5BD;
  text-align: center;
  font-family: Roboto;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-top: 18px;
}

/* 프로그래스바 */

.container .reservation-slider {
  width: 942px;
  margin: 0 auto;
}

.container .progress-bar {
  height: 2px;
  background: rgba(255, 255, 255, 0.15);
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  overflow: hidden;
}

.container .progress-fill {
  height: 100%;
  background-color: #fff;
  width: 0;
  transition: width 0.4s ease;
}


.container .contents {
  position: relative;
  margin: 0;
  padding: 390px 0 0 0;
}

.container .ict_tit {
  color: #8b95a1;
}

.container .outer {
  display: table;
  width: 100%;
  height: 100%;
}

.container .inner {
  display: table-cell;
  width: 2472px;
  margin: 0 auto;
  vertical-align: middle;
  vertical-align: top;
}

.container .left-sec .text.small-txt {
  color: #FFF;
  text-align: center;
  font-family: 'Pretendard-Medium';
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  /* line-height: 100%; */
  /* 24px */
  letter-spacing: -0.72px;
  text-transform: uppercase;
}

.container .left-sec .clock {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url('../../img/roompad/analogclock-bg-3840.png') no-repeat center center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
}

.container .left-sec .clock::before {
  position: absolute;
  z-index: 100000;
  content: '';
  border: 3px solid #fff;
  border-radius: 50%;
  background: #2f363e;
}

.container .left-sec .clock span {
  position: absolute;
  -ms-transform: rotate(calc(30deg * var(--i)));
  -webkit-transform: rotate(calc(30deg * var(--i)));
  transform: rotate(calc(30deg * var(--i)));
  text-align: center;
  color: #fff;
  inset: 30px;
}

.container .left-sec .clock span b {
  font-weight: 600;
  display: inline-block;
  -ms-transform: rotate(calc(-30deg * var(--i)));
  -webkit-transform: rotate(calc(-30deg * var(--i)));
  transform: rotate(calc(-30deg * var(--i)));
  opacity: 0.25;
}

.container .left-sec .clock .circle {
  position: absolute;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  border-radius: 50%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
}

.container .left-sec .clock .circle i {
  position: absolute;
  height: 50%;
  -ms-transform: scaleY(0.5);
  -webkit-transform: scaleY(0.5);
  transform: scaleY(0.5);
  -ms-transform-origin: bottom;
  -webkit-transform-origin: bottom;
  transform-origin: bottom;
  opacity: 0.75;
  background: var(--clr);
}



.container .left-sec .clock .circle::before {
  position: absolute;
  content: '';
  border-radius: 50%;
  background: var(--clr);
  -webkit-box-shadow:
    0 0 20px var(--clr),
    0 0 60px var(--clr);
  box-shadow:
    0 0 20px var(--clr),
    0 0 60px var(--clr);
}

.container .left-sec .clock .circle2::before {
  position: absolute;
  content: '';
  border-radius: 50%;
  background: var(--clr);
  -webkit-box-shadow:
    0 0 20px var(--clr),
    0 0 60px var(--clr);
  box-shadow:
    0 0 20px var(--clr),
    0 0 60px var(--clr);
}

.container .left-sec .date-txt {
  text-align: center;
  color: #fff;
  letter-spacing: -0.84px;
}

.container .left-sec .time-txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
}

.container .left-sec .time-txt div {
  font-family: 'Century Gothic';
  position: relative;
  text-align: center;
  color: var(--clr);
}

.container .left-sec .time-txt div:nth-child(1)::after {
  position: absolute;
  content: ':';
  -webkit-animation: animate 1s steps(1) infinite;
  animation: animate 1s steps(1) infinite;
}

@-webkit-keyframes animate {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}

@keyframes animate {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}


.container .ticker {
  position: absolute;
  bottom: 0px;
  left: 0.05px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  align-items: center;
  -ms-flex-direction: row;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
  background: #000000;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
}

.container .div2 {
  font-family: 'Pretendard-Medium', sans-serif;
  font-weight: 500;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  text-align: left;
  color: #ffffff;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
}

.container .animated-title .bottom_txt {
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
  max-width: 100%;
  height: auto;
  -webkit-transform: rotate(0.04deg) translate3d(0, 0, 0);
  transform: rotate(0.04deg) translate3d(0, 0, 0);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container .animated-title .track {
  position: absolute;
  -webkit-animation: marquee 30s linear infinite;
  animation: marquee 60s linear infinite;
  white-space: nowrap;
  will-change: left;
}

@-webkit-keyframes marquee {
  from {
    left: 100%;
  }

  to {
    left: -100%;
  }
}

@keyframes marquee {
  from {
    left: 100%;
  }

  to {
    left: -100%;
  }
}

.container .logo_top {
  display: flex;
  width: 660px;
  padding: 40px 60px;
  justify-content: center;
  align-items: center;
}

.container .contents {
  padding: 195px 0 0 0;
}



.container .left-sec .text.small-txt {
  /* font-size: 17px; */
  /* letter-spacing: 0.14em; */
  margin-top: 76px;
}

.container .left-sec .clock {
  width: 330px;
  height: 330px;
  margin: 54px auto 0;
  background-size: cover;
}

.container .left-sec .clock::before {
  width: 4px;
  height: 4px;
  border: 1px solid #fff;
  border-radius: 50%;
}

.container .left-sec .clock .circle {
  width: 230px;
  height: 230px;
}

.container .left-sec .clock .circle:nth-child(1) i {
  width: 3px;
}

.container .left-sec .clock .circle:nth-child(2) i {
  width: 3px;
}

.container .left-sec .clock .circle2 {
  z-index: 9;
  width: 318px;
  height: 450px;
}

.container .left-sec .clock .circle3 {
  FONT-VARIANT: JIS83;
  width: 245px;
  height: 245px;
}

.container .left-sec .clock .circle::before {
  top: -39.5px;
  width: 5px;
  height: 5px;
}

.container .left-sec .clock .circle2::before {
  top: 63.5px;
  width: 5px;
  height: 5px;
}

.container .left-sec .date-txt {
  color: #FFF;
  text-align: center;
  font-family: Pretendard;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  /* 22px */
  letter-spacing: -0.44px;
  text-transform: uppercase;
  margin-top: 54px;
  margin-bottom: 8px;
}

.container .left-sec .time-txt {
  color: #FFF;
  text-align: center;
  font-family: "Century Gothic";
  font-size: 76px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  /* 76px */
  letter-spacing: 3.32px;
  text-transform: uppercase;
}

.container .left-sec .time-txt div {
  padding: 0 13px;
}

.container .left-sec .time-txt div:nth-child(1)::after,
.container .left-sec .time-txt div:nth-child(2)::after {
  top: -4px;
  right: -12px;
}

.container .ticker {
  width: 100%;
  max-width: 1920px;
  max-height: 64px;
  padding: 20px 35px 20px 35px;
}

.container .div2 {
  font-size: 22px;
  font-weight: 500;
}

.container .btn_date {
  display: flex;
  height: 96px;
  padding: 15px;
  justify-content: center;
  align-items: center;
  gap: 15px;
  flex: 1 0 0;
  border-radius: 75px;
  background: #5370E9;
  color: #FFF;
  text-align: center;
  font-family: 'Pretendard-semiBold';
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  /* 30px */
  letter-spacing: 0;
  text-transform: uppercase;
  width: 450px;
  margin: 80px auto;
}